<header class="topnav" id="myTopnav">
    <a href="main" class="brand">DASi</a>
    <nav class="menu">
        <ul>
            <li><a href="../templates/about.html" class="active">About Dasi</a></li>
            <li><a href="portfolio.html">업사이클 디자인</a></li>
            <li><a href="orderGuidePage.html">주문제작 가이드</a></li>
            <li><a href="orderRequestPage.html">주문제작 견적문의</a></li>
            <li><a href="faq.html">자주 묻는 질문</a></li>
        </ul>
    </nav>
    <a href="#" class="user"><i class="fa fa-user-circle"></i></a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</header>