<form>
    <div class="form_toggle row-vh d-flex flex-row justify-content-between" style="display: flex;">

        <div class="form_radio_btn radio_clothes">
            <input id="radio-1" type="radio" name="productCategory" value="clothes" checked>
            <label for="radio-1"><a th:href="@{/member/mypage/mypageMain}" style="color: #ffffff">회원정보</a></label>
        </div>

        <div class="form_radio_btn" style="margin: 0px 10px 0px 10px;">
            <input id="radio-2" type="radio" name="productCategory" value="play">
            <label for="radio-2"><a th:href="@{/member/mypage/myOrderList}" style="color: #ffffff">주문내역</a></label>
        </div>

        <div class="form_radio_btn">
            <input id="radio-3" type="radio" name="productCategory" value="etc">
            <label for="radio-3">문의내역</label>
        </div>
    </div>
</form>
