<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>DASi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/default.css">
<link rel="stylesheet" href="/css/carousel.css">
<link rel="stylesheet" href="/css/header.css">
</head>
<body>

  <!-- header -->
  <div th:insert="/common/header.html"></div>

 <div class="wrap">
      <!-- pages -->
  <div class="page pseudo_padding-2">
    <div class="sort-container pt-3">
        <h1>레이아웃 관리</h1>
        <div class="sort-button-group">
          <a href="adminPolicy.html"><button class="button button-light">적용</button></a>
        </div>
      </div>
    <hr>
    <div class="items_container ic1 pt-3 pb-1">
      <div class="item">
        <h4 class="pb-1"></h4>정책 관리</h4>
        <table class="table-simple">
          <thead>
            <tr>
              <th>약관명</th>
              <th>파일명</th>
              <th>파일수정</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>이용안내</td>
              <td>intro.pdf</td>
              <td><input type="file"></td>
            </tr>
            <tr>
              <td>이용약관</td>
              <td>policy.pdf</td>
              <td><input type="file"></td>
            </tr>
            <tr>
              <td>개인정보처리방침</td>
              <td>privacyPolicy.pdf</td>
              <td><input type="file"></td>
            </tr>
            <tr>
              <td>주문제작안내</td>
              <td>orderMadeGuide.pdf</td>
              <td><input type="file"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


  </div>
 </div>


  <div th:insert="/common/footer.html"></div>







  <script src="js/header.js"></script>
  <script src="js/carousel.js"></script>
  <script src="js/default.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
</body>
</html>