<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet" href="/css/default.css">
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/admin.css">
</head>
<body>
<div th:insert="common/header.html"></div>

    <div class="wrap">
        <div class="page pseudo_padding-2">

                <div class="items_container ic1">
                    <div class="item">
                        <div th:insert="/admin/memberInfo/memberList"></div>
                    </div>

                    <div class="item">
                        <div th:insert="/admin/memberInfo/memberJacksonList"></div>
                    </div>
                    <!--<div class="item">
                        <div th:insert="/admin/memberInfo/memberRegist"></div>
                    </div>-->

                </div>
        </div>
    </div>

<div th:insert="/common/footer.html"></div>
</body>
</html>