<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/header.css">

</head>
<body>
<div th:insert="fragments/header.html"></div>

<div class="wrap">
    <div class="page pseudo_padding-2">
        <h3>회원 정보 조회</h3>
        <div class="items_container ic4">
            <form action="/admin/memberInfo/memberSearch" method="">
                <button type="submit" class="button button-light w-100">전체 회원 조회</button>
            </form>

            <button onclick="location.href='/content/member/signup'" class="button button-light">신규 회원 등록</button>
            <div>
                <form action="/admin/memberInfo/memberSearch" method="">
                    <div class="items_container ic2 mb-1">

                        <div>
                            <select class="select" name="keyword" id="keyword">
                                <option value="userCode">유저번호</option>
                                <option value="userId">id</option>
                                <option value="userName">이름</option>
                                <option value="birthDate">생일</option>
                                <option value="email">이메일</option>
                                <option value="tel">전화번호</option>
                                <option value="gender">성별</option>
                                <option value="joinDate">가입일</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <input type="text" id="search" name="search" class="input">
                            <button type="submit" class="button-dark button">검색</button>
                        </div>

                    </div>
                </form>
            </div>
            <!--<button onclick="location.href='memberModify'" class="button button-light">회원 정보 수정</button>-->
        </div>
    </div>
</div>

<div th:insert="/fragments/footer.html"></div>
</body>
</html>