<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/header.css">

</head>
<body>
<div th:insert="common/header.html"></div>

<div class="wrap">
    <div class="page pseudo_padding-2">
        <h3>회원정보 조회</h3>
        <div class="items_container ic4">
            <button onclick="location.href='memberList'" class="button button-light">전체 회원 조회</button>
            <button onclick="location.href='memberRegist'" class="button button-light">신규 회원 등록</button>
            <button onclick="location.href='memberListPaging'" class="button button-light">페이징</button>
        </div>
    </div>
</div>

<div th:insert="/common/footer.html"></div>
</body>
</html>