.admin > h2{
    font-size: 36px;
    margin: 120px 0px 50px 35px;
    color: #111111;
}
.part{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 50px 0px 50px 0px;
}
.part1{
    border: solid 1px ;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: #111111;
    width: 45.5%;
    height: 209px;
}
.all_member{
    font-size: 16px;
    color: #252525;
    margin: 32px  0px 30px 32px;
}
.part1 > h3{
    font-size: 38px;
    margin: 32px 0px 30px 32px;
}
.part1 > h3 > strong{
    font-size: 16px;
    color: #e85b81;
    margin: 15px 15px 15px 15px;
}
.part1 > p{
    font-size: 16px;
    color: #505050;
}
.part2{
    border: solid 1px ;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: #111111;
    width: 45.5%;
    height: 209px;
}
.part2 > h3{
    font-size: 38px;
    margin: 32px 0px 30px 32px;
}
.part2 > h3 > strong{
    font-size: 16px;
    color: #e85b81;
    margin: 15px 15px 15px 15px;
}
.date{
    margin: 30px 0px 32px 32px;
}
.inquiry > h2{
    font-size: 36px;
    margin: 120px 0px 50px 35px;
    color: #111111;
}
.inquiry{
    font-size: 16px;
    color: #222222;
}
.inquiry > p{
    font-size: 16px;
    color: #222222;
    margin: 25px 0px 25px 35px;
}
.search > .input-group{
    margin: 0px 70px 50px 30px;
}
.next > ul{
    display: flex;
}
.next > ul > li{
}