
/*.brand-lg{
    font-size: 5rem;
    color: var(--color-dark);
    font-weight: 900;
}

.find-area-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.find-area{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    width: 40vw;
    margin-bottom:1.5rem
}

.find-area-sm{
    width: 25vw;
}

.find-form {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    width: 40vw;
}*/