/*
.DasiLog{
    text-align: center;
    padding:6.5em;
}
.login{
    text-align: center;
}
.input{
    width: 600px;
    height: 40px;
    margin: 15px 0px 15px 0px;
}
.button-dark{
    width: 295px;
    height: 40px;
}
.button-light{
    width: 295px;
    height: 40px;
}
.logBtn{
    margin: 15px 0px 15px 0px;
}
.find{
    margin: 15px 0px 15px 0px;
}*/