<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>managerFaq</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/carousel.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/managerFaQ.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
</head>
<body>
<div th:insert="/fragments/header.html"></div>

<!--pages-->
<div class="page">
    <div class="button class">
        <button class="button button-light" th:onclick="'location.href=\'/admin/question/managerQuestion\''">1:1 문의 관리</button>
        <button class="button button-dark" onclick="location.reload();">FAQ 관리</button>
    </div>
    <!--<div class="selecttitle">
        <h3 class="selecttitle1">구분</h3>
        <select class="select">
            <option class="option" selected>전체</option>
            <option class="option" value='' onclick="">주문제작</option>
            <option class="option" value='' onclick="">결제 및 배송</option>
            <option class="option" value='' onclick="">기타</option>
        </select>
    </div>-->

    <br> <br>


    <table class="list-table">
        <thead>
        <tr>
            <th style="width:50px">글번호</th>
            <th style="width:120px">제목</th>
            <th style="width:120px">내용</th>
            <th style="width:60px">수정 및 삭제</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="faq : ${ faqList }">
            <td style="width:50px" th:text="${ faq.faqNum }"></td>
            <td style="width:120px" th:text="${ faq.faqTitle }"></td>
            <td style="width:120px" th:text="${ faq.faqContent }"></td>
            <td style="width:60px">
                <button th:onclick="|location.href='/admin/question/managerFaqUpdate/${faq.faqNum}'|" width="10"
                        height="5">수정
                </button>
                <!-- <button th:onclick= "|location.href=' @{/admin/question/managerFaqUpdate(num=${ faq.faqNum })}'|" width="10" height="5">수정</button>-->
                <!--<button th:onclick= "|'location.href=' @{/admin/question/managerFaqUpdate(num=${ faq.faqNum })}'|'|" width="10" height="5">수정</button>-->


                <button type="button"
                        th:onclick="'location.href=\'/admin/question/managerFaqDelete?faqNum='+  @{${ faq.faqNum }} + '\''" width="10"
                        height="5">삭제
                    <!--th:onclick="'location.href=\'/notice/delete?no='+ @{${ faq.faqNum }} + '\''"-->
                <!--<button type="button"
                        th:onclick="|location.href='/admin/question/managerFaqDelete/${faq.faqNum}'|" width="10"
                        height="5">삭제-->
                </button>
            </td>
        </tr>
        </tbody>
    </table>   <!--테이블끝-->

        <button class="button button-dark" th:onclick="|location.href='/admin/question/create'|">FAQ 추가등록</button>

<!--페이징-->
   <!-- <div class="pagging-wrap page-area">
        <div class="page-number">
            <div class="pagination mt20">
                <a href="javascript:CmPageMove('0')" data-page="0" class='btn-page prev'><span
                        class="blind">이전</span></a>
                <a href="#" class="current"><span>1</span></a>
                <a href="javascript:CmPageMove('2')" data-page="2"><span>2</span></a>

                <a href="javascript:CmPageMove('3')" data-page="3" class='btn-page next'><span
                        class="blind">다음</span></a>
            </div>
        </div>

    </div>-->

</div>

<!-- footer -->


<div th:insert="/fragments/footer.html"></div>


<script src="/js/header.js"></script>
<script src="/js/carousel.js"></script>
<script src="/js/default.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>


</body>
</html>

