<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.dasi.admin.question.model.dao.AdminFaqMapper">

    <resultMap id="adminFaqListMap"  type="com.project.dasi.admin.question.model.dto.AdminFaqDTO" >
        <id property="faqNum" column="FAQ_NUM"/>
        <result property="faqContent" column="FAQ_CONTENT"/>
        <result property="faqTitle" column="FAQ_TITLE"/>
    </resultMap>


    <select id="adminSelectAllFaqList" resultMap="adminFaqListMap">
        SELECT
        FAQ_NUM
        ,FAQ_TITLE
        ,FAQ_CONTENT
        FROM FAQ
    </select>

    <select id="adminSelectOneFaqList" resultMap="adminFaqListMap">
        SELECT
        FAQ_NUM
        ,FAQ_TITLE
        ,FAQ_CONTENT
        FROM FAQ
        WHERE FAQ_NUM = #{ faqNum }
    </select>


    <update id="adminFaqUpdateRegist" >
       UPDATE FAQ
        SET   FAQ_TITLE = #{ faqTitle }
            ,FAQ_CONTENT = #{ faqContent }
        WHERE FAQ_NUM = #{ faqNum }
    </update>

    <insert id="adminFaqCreate">
        INSERT
        INTO FAQ    (
                        FAQ_TITLE
                        ,FAQ_CONTENT
                    )
        VALUES  (
                 #{ faqTitle }
                , #{ faqContent }
                )
    </insert>

    <delete id="adminFaqDelete" parameterType="int">
        DELETE
        FROM FAQ
        WHERE FAQ_NUM = #{ faqNum }
    </delete>


   <!-- <insert id="adminFaqCreate">
        INSERT
        INTO FAQ1    (
        FAQ_TITLE
        ,FAQ_CONTENT
        , DATE
        )
        VALUES  (
        #{ faqTitle }
        , #{ faqContent }
        , DATE_FORMAT(now().subst
        )
    </insert>-->
</mapper>