<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.dasi.question.model.dao.FaqMapper">

    <resultMap id="faqListMap"  type="com.project.dasi.question.model.dto.FaqDTO" >
        <id property="faqNum" column="FAQ_NUM"/>
        <result property="faqContent" column="FAQ_CONTENT"/>
        <result property="faqTitle" column="FAQ_TITLE"/>
    </resultMap>



    <select id="selectAllFaqList" resultMap="faqListMap">
        SELECT
        FAQ_NUM
        ,FAQ_TITLE
        ,FAQ_CONTENT
        FROM FAQ1
    </select>



</mapper>