<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.dasi.question.model.dao.FaqMapper">

    <!--<resultMap id="faqListMap" type="FaqDTO" >
        <id property="faqNum" column="FAQ_NUM"/>
        <result property="faqContent" column="FAQ_CONTENT"/>
        <result property="faqTitle" column="FAQ_TITLE"/>
        <association property="qcateCode" resultMap="faqCategoryMap"/>
    </resultMap>-->

    <resultMap id="faqCategoryMap" type="com.project.dasi.question.model.dto.FaqCategoryDTO"  >
        <id property="qcateCode"  column="QCATE_CODE"/>
        <result property="qcategory" column="QCATEGORY"/>
    </resultMap>

    <resultMap id="faqListMap"  type="com.project.dasi.question.model.dto.FaqDTO" >
        <id property="faqNum" column="FAQ_NUM"/>
        <result property="faqContent" column="FAQ_CONTENT"/>
        <result property="faqTitle" column="FAQ_TITLE"/>
    </resultMap>


    <select id="selectAllFaqList" resultMap="faqListMap">
        SELECT <!--com.project.dasi.member.faq.dao.FaqMapper.selectAllFaqList()-->
         <!--   A.QCATE_CODE-->
            <!--A.-->FAQ_NUM
            <!--A.-->,FAQ_TITLE
            <!--A.-->,FAQ_CONTENT
            <!--B.QCATEGORY-->
        FROM FAQ1 <!--A-->
         <!--   JOIN QUESTION_CATEGORY B ON (A.QCATE_CODE = B.QCATE_CODE )-->
    </select>

    <select id="faqCategoryList" resultMap="faqCategoryMap">
        SELECT
            QCATE_CODE
            ,QCATEGORY
        FROM QUESTION_CATEGORY
    </select>

    <insert id="" parameterType="">
        INSERT INTO FAQ1 (
        FAQ_TITLE,
        FAQ_CONTENT)
        VALUES (
        ${ TITLE },
        ${ CONTENT }
        )
    </insert>


</mapper>