<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.project.dasi.admin.memberInfo.model.dao.MemberMapper">

  <resultMap id="MemberResultMap" type="com.project.dasi.admin.memberInfo.model.dto.MemberDTO">
        <id property="userCode" column="USER_CODE"/>
        <result property="userId" column="USER_ID"/>
        <result property="userPwd" column="USER_PWD"/>
        <result property="userName" column="USER_NAME"/>
        <result property="birthDate" column="BIRTH_DATE"/>
        <result property="email" column="EMAIL"/>
        <result property="tel" column="TEL"/>
        <result property="gender" column="GENDER"/>
        <result property="marketingStatus" column="MARKETING_STATUS"/>
        <result property="joinDate" column="JOIN_DATE"/>
        <result property="withdrawStatus" column="WITHDRAW_STATUS"/>
        <result property="withdrawDate" column="WITHDRAW_DATE"/>
    </resultMap>

    <sql id="default">
        SELECT USER_CODE, USER_ID, USER_PWD, USER_NAME, BIRTH_DATE,
        EMAIL, TEL, GENDER, MARKETING_STATUS, JOIN_DATE, WITHDRAW_STATUS, WITHDRAW_DATE
        FROM USER_INFO
    </sql>


    <select id="getMemberList" resultMap="MemberResultMap">
        <include refid="default"></include> limit 0, 10
    </select>

    <insert id="registMember" parameterType="com.project.dasi.admin.memberInfo.model.dto.MemberDTO">
        INSERT INTO USER_INFO (
        USER_CODE, USER_ID, USER_PWD, USER_NAME, BIRTH_DATE,
        EMAIL, TEL, GENDER, MARKETING_STATUS, JOIN_DATE, WITHDRAW_STATUS, WITHDRAW_DATE
        )
        VALUES (
        #{ userCode }
        ,#{ userId }
        ,#{ userPwd }
        ,#{ userName }
        ,#{ birthDate }
        ,#{ email }
        ,#{ tel }
        ,#{ gender }
        ,#{ marketingStatus }
        ,#{ joinDate }
        ,#{ withdrawStatus }
        ,#{ withdrawDate }
        )
    </insert>

    <update id="modifyMember" parameterType="com.project.dasi.admin.memberInfo.model.dto.MemberDTO">
        UPDATE USER_INFO SET USER_PWD = #{userPwd} WHERE USER_CODE = #{userCode}
    </update>

    <delete id="deleteMember" parameterType="hashMap">
        DELETE FROM USER_INFO WHERE USER_CODE = #{userCode} AND USER_PWD = #{userPwd}
    </delete>

    <select id="searchMember" resultType="com.project.dasi.admin.memberInfo.model.dto.MemberDTO" resultMap="MemberResultMap">
        SELECT USER_CODE, USER_ID, USER_NAME, BIRTH_DATE, EMAIL, TEL, GENDER,
        MARKETING_STATUS, JOIN_DATE, WITHDRAW_STATUS, WITHDRAW_DATE FROM USER_INFO WHERE
        <if test="keyword == 'userCode'">
            USER_CODE LIKE CONCAT('%',#{search},'%')
        </if>
        <if test="keyword == 'userId'">
            USER_ID LIKE CONCAT('%',#{search},'%')
        </if>
        <if test="keyword == 'userName'">
            USER_NAME LIKE CONCAT('%',#{search},'%')
        </if>
        <if test="keyword == 'birthDate'">
            BIRTH_DATE LIKE CONCAT('%',#{search},'%')
        </if>
        <if test="keyword == 'email'">
            EMAIL LIKE CONCAT('%',#{search},'%')
        </if>
        <if test="keyword == 'tel'">
            TEL LIKE CONCAT('%',#{search},'%')
        </if>
        <if test="keyword == 'gender'">
            GENDER LIKE CONCAT('%',#{search},'%')
        </if>
        <if test="keyword == 'marketingStatus'">
            MARKETING_STATUS LIKE CONCAT('%',#{search},'%')
        </if>
        <if test="keyword == 'joinDate'">
            JOIN_DATE LIKE CONCAT('%',#{search},'%')
        </if>
        <if test="keyword == 'withdrawStatus'">
            WITHDRAW_STATUS LIKE CONCAT('%',#{search},'%')
        </if>
        <if test="keyword == 'withdrawDate'">
            WITHDRAW_DATE LIKE CONCAT('%',#{search},'%')
        </if>
    </select>

</mapper>