<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.project.dasi.admin.memberInfo.model.dao.MemberMapper">

  <resultMap id="MemberResultMap" type="com.project.dasi.auth.model.dto.UserDTO">
        <id property="usercode" column="USER_CODE"/>
        <result property="userid" column="USER_ID"/>
        <result property="password" column="PASSWORD"/>
        <result property="username" column="USER_NAME"/>
        <result property="birthdate" column="BIRTH_DATE"/>
        <result property="email" column="EMAIL"/>
        <result property="tel" column="TEL"/>
        <result property="gender" column="GENDER"/>
        <result property="joindate" column="JOIN_DATE"/>
        <result property="withdrawstatus" column="WITHDRAW_STATUS"/>
        <result property="withdrawdate" column="WITHDRAW_DATE"/>
        <result property="userrole" column="USER_ROLE"/>
    </resultMap>

    <sql id="default">
        SELECT USER_CODE, USER_ID, PASSWORD, USER_NAME, BIRTH_DATE,
        EMAIL, TEL, GENDER, JOIN_DATE, WITHDRAW_STATUS, WITHDRAW_DATE, USER_ROLE
        FROM USERS
    </sql>


    <select id="getMemberList" resultMap="MemberResultMap">
        <include refid="default"></include> limit 0, 10
    </select>

    <insert id="registMember" parameterType="com.project.dasi.auth.model.dto.UserDTO">
        INSERT INTO USERS (
        USER_CODE, USER_ID, PASSWORD, USER_NAME, BIRTH_DATE,
        EMAIL, TEL, GENDER, JOIN_DATE, WITHDRAW_STATUS, WITHDRAW_DATE, USER_ROLE
        )
        VALUES (
        #{ usercode }
        ,#{ userid }
        ,#{ password }
        ,#{ username }
        ,#{ birthdate }
        ,#{ email }
        ,#{ tel }
        ,#{ gender }
        ,#{ joindate }
        ,#{ withdrawstatus }
        ,#{ withdrawdate }
        ,#{ userrole }
        )
    </insert>

    <update id="modifyMember" parameterType="com.project.dasi.auth.model.dto.UserDTO">
        UPDATE USERS SET PASSWORD = #{password} WHERE USER_CODE = #{usercode}
    </update>

    <delete id="deleteMember" parameterType="hashMap">
        DELETE FROM USERS WHERE USER_CODE = #{usercode} AND PASSWORD = #{password}
    </delete>

    <select id="searchMember" resultType="com.project.dasi.auth.model.dto.UserDTO" resultMap="MemberResultMap">
        SELECT USER_CODE, USER_ID, USER_NAME, BIRTH_DATE, EMAIL, TEL, GENDER,
        JOIN_DATE, WITHDRAW_STATUS, WITHDRAW_DATE, USER_ROLE FROM USERS WHERE
        <if test="keyword == 'usercode'">
            USER_CODE LIKE CONCAT('%',#{search},'%')
        </if>
        <if test="keyword == 'userid'">
            USER_ID LIKE CONCAT('%',#{search},'%')
        </if>
        <if test="keyword == 'username'">
            USER_NAME LIKE CONCAT('%',#{search},'%')
        </if>
        <if test="keyword == 'birthdate'">
            BIRTH_DATE LIKE CONCAT('%',#{search},'%')
        </if>
        <if test="keyword == 'email'">
            EMAIL LIKE CONCAT('%',#{search},'%')
        </if>
        <if test="keyword == 'tel'">
            TEL LIKE CONCAT('%',#{search},'%')
        </if>
        <if test="keyword == 'gender'">
            GENDER LIKE CONCAT('%',#{search},'%')
        </if>
        <if test="keyword == 'marketingstatus'">
            MARKETING_STATUS LIKE CONCAT('%',#{search},'%')
        </if>
        <if test="keyword == 'joindate'">
            JOIN_DATE LIKE CONCAT('%',#{search},'%')
        </if>
        <if test="keyword == 'withdrawstatus'">
            WITHDRAW_STATUS LIKE CONCAT('%',#{search},'%')
        </if>
        <if test="keyword == 'withdrawdate'">
            WITHDRAW_DATE LIKE CONCAT('%',#{search},'%')
        </if>
        <if test="keyword == 'userrole'">
            USER_ROLE LIKE CONCAT('%',#{search},'%')
        </if>
    </select>

</mapper>