<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.dasi.admin.question.model.dao.QuestionMapper">

    <resultMap id="qListMap" type="com.project.dasi.admin.question.model.dto.QuestionDTO">
        <id property="questNum" column="QUEST_NUM"/>
        <result property="answerDate" column="ANSWER_DATE"/>
        <result property="answerContent" column="ANSWER_CONTENT"/>
        <result property="questDate" column="QUEST_DATE"/>
        <result property="questTitle" column="QUEST_TITLE"/>
        <result property="questContent" column="QUEST_CONTENT"/>
        <association property="qCateCode" resultMap="qCateResultMap"/>
        <association property="userCode" resultMap="MemberResultMap"/>
    </resultMap>
    
    <resultMap id="managerListMap" type="com.project.dasi.admin.question.model.dto.QuestionDTO">
        <id property="questNum" column="QUEST_NUM"/>
        <result property="questDate" column="QUEST_DATE"/>
        <result property="questTitle" column="QUEST_TITLE"/>
        <result property="questContent" column="QUEST_CONTENT"/>
        <association property="qCateCode" resultMap="qCateResultMap"/>
    </resultMap>

    <resultMap id="mQuestionList" type="com.project.dasi.admin.question.model.dto.QuestionDTO">
        <id property="questNum" column="QUEST_NUM"/>
        <result property="questDate" column="QUEST_DATE"/>
        <result property="questTitle" column="QUEST_TITLE"/>
        <result property="questContent" column="QUEST_CONTENT"/>
        <association property="qCateCode" resultMap="qCateResultMap"/>
    </resultMap>

    <resultMap id="qCateResultMap" type="com.project.dasi.admin.question.model.dto.QuestionCategoryDTO">
        <id property="qCateCode" column="QCATE_CODE"/>
        <result property="qCategory" column="QCATEGORY"/>
    </resultMap>

    <resultMap id="MemberResultMap" type="com.project.dasi.auth.model.dto.UserDTO">
        <id property="userCode" column="USER_CODE"/>
        <result property="userId" column="USER_ID"/>
        <result property="password" column="PASSWORD"/>
        <result property="name" column="USER_NAME"/>
        <result property="birthDate" column="BIRTH_DATE"/>
        <result property="email" column="EMAIL"/>
        <result property="tel" column="TEL"/>
        <result property="gender" column="GENDER"/>
        <result property="joinDate" column="JOIN_DATE"/>
        <result property="zipcode" column="ZIP_CODE"/>
        <result property="address" column="ADDRESS"/>
        <result property="addressDetail" column="ADDRESS_DETAIL"/>
        <result property="authName" column="AUTH_NAME"/>
    </resultMap>

    <resultMap id="userQuestionListMap" type="com.project.dasi.admin.question.model.dto.QuestionDTO">
        <id property="questNum" column="QUEST_NUM"/>
        <result property="questTitle" column="QUEST_TITLE"/>
        <result property="questContent" column="QUEST_CONTENT"/>
     </resultMap>


    <select id="questionList" resultMap="qListMap">
        SELECT
        C.USER_CODE
        ,B.QCATEGORY
        ,A.ANSWER_DATE
        ,A.ANSWER_CONTENT
        ,A.QUEST_NUM
        ,A.QUEST_DATE
        ,A.QUEST_TITLE
        ,A.QUEST_CONTENT
        FROM QUESTION_LIST A
        JOIN QUESTION_CATEGORY B ON (A.QCATE_CODE = B.QCATE_CODE)
        JOIN USERS C ON (C.USER_CODE = A.USER_CODE)
    </select>

    <select id="questionmanagerList" resultMap="managerListMap">
        SELECT   A.QUEST_NUM
                 ,B.QCATEGORY
                ,A.QUEST_DATE
                ,A.QUEST_TITLE
                ,A.QUEST_CONTENT
        FROM QUESTION_LIST A
        JOIN QUESTION_CATEGORY B ON (A.QCATE_CODE = B.QCATE_CODE)
       </select>


    <insert id="questionCreate">
        INSERT
        INTO QUESTION_LIST (
                        USER_CODE
                        ,QCATE_CODE
                        ,QUEST_DATE
                        ,QUEST_TITLE
                        ,QUEST_CONTENT
                        )
        VALUES (        #{ user }
                        ,#{ qCate }
                        ,NOW()
                        ,#{ questTitle }
                        ,#{ questContent })
    </insert>

    <update id="questionUpdate">
        UPDATE QUESTION_LIST
        SET
        QCATEGORY = #{ qCateCode }
       ,QUEST_TITLE = #{ questTitle }
        ,QUEST_CONTENT = #{ questContent }
        WHERE QUEST_NUM = #{ questNum }
    </update>


    <select id="adminquestCreate" resultMap="mQuestionList">
        SELECT A.QUEST_NUM
        ,B.QCATEGORY
        ,A.QUEST_DATE
        ,A.QUEST_TITLE
        ,A.QUEST_CONTENT
        FROM QUESTION_LIST A
        WHERE QUEST_NUM = #{ questnum }
        JOIN QUESTION_CATEGORY B ON (A.QCATE_CODE = B.QCATE_CODE)
    </select>

    <select id="userquestionUpdate" resultMap="userQuestionListMap">
        SELECT
        QUEST_NUM
        ,QUEST_TITLE
        ,QUEST_CONTENT
        FROM QUESTION_LIST
        WHERE QUEST_NUM = #{ qnumb }
    </select>

    <update id="userquestionup">
        UPDATE    QUESTION_LIST
        SET     QUEST_TITLE =  #{ questTitle }
                 ,QUEST_CONTENT = #{ questContent }
                 ,QCATE_CODE = #{ qCate }
                  ,QUEST_DATE = NOW()
        WHERE QUEST_NUM = #{ questNum }
    </update>

    <delete id="userquestionDelete" parameterType="int">
        DELETE
        FROM QUESTION_LIST
        WHERE QUEST_NUM = #{ questNum }
    </delete>


</mapper>