<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.dasi.question.model.dao.FaqMapper">

    <resultMap id="qListMap" type="com.project.dasi.admin.question.model.dto.QuestionDTO">
        <id property="questNum" column="QUEST_NUM"/>
        <result property="userCode" column="USER_CODE"/>
        <result property="answerDate" column="ANSWER_DATE"/>
        <result property="answerContent" column="ANSWER_CONTENT"/>
        <result property="questDate" column="QUEST_DATE"/>
        <result property="questTitle" column="QUEST_DATE"/>
        <result property="questContent" column="QUEST_CONTENT"/>
        <association property="qcateCode" resultMap="qCateResultMap"/>    <!--이런건 꼭 맨아래 있어야만함-->
    </resultMap>

    <resultMap id="qCateResultMap" type="com.project.dasi.question.model.dto.CategoryDTO">
        <id property="qCateCode" column="QCATE_CODE"/>
        <result property="qCategory" column="QCATEGORY"/>
    </resultMap>


    <select id="questionList" resultMap="qListMap">   <!--select일 경우 조인 경우, 가져올 그 컬럼만 부르면 된다-->
        SELECT A.QUEST_NUM
                ,A.USER_CODE
                ,B.QCATEGORY
                ,A.ANSWER_DATE
                ,A.ANSWER_CONTENT
                ,A.QUEST_DATE
                ,A.QUEST_TITLE
                ,A.QUEST_CONTENT
        FROM QUESTION_LIST A
        JOIN QUESTION_CATEGORY B ON (A.QCATE_CODE = B.QCATE_CODE)
    </select>


    <insert id="questionCreate">
        INSERT
        INTO QUESTION_LIST (
                        USER_CODE
                        ,QCATE_CODE
                        ,QUEST_DATE
                        ,QUEST_TITLE
                        ,QUEST_CONTENT

                        )
        VALUES (
                        ,{ userCode }  <!--이거해결해야함-->
                        ,#{ qcateCode }
                        ,NOW()
                        ,#{ questTitle }
                        ,#{ questContent }
    </insert>


    <update id="adminquestCreate">
        UPDATE QUESTION_LIST
        SET   ANSWER_CONTENT = #{ answerContent }
        ,ANSWER_DATE = ,NOW()
        WHERE QUEST_NUM = #{ questNum }
    </update>


</mapper>







