<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.project.dasi.auth.model.entity.Users">

  <resultMap id="MemberResultMap" type="com.project.dasi.auth.dto.UserDTO">
      <result property="usercode" column="USER_CODE"/>
      <result property="userid" column="USER_ID"/>
      <result property="password" column="USER_PWD"/>
      <result property="username" column="USER_NAME"/>
      <result property="birthdate" column="USER_PWD"/>
      <result property="email" column="EMAIL"/>
      <result property="tel" column="TEL"/>
      <result property="gender" column="GENDER"/>
      <result property="withdrawstatus" column="WITHDRAW_STATUS"/>
      <result property="withdrawdate" column="WITHDRAW_DATE"/>
      <result property="userrole" column="USER_ROLE"/>
    </resultMap>

    <select id="idCheck" parameterType="String" resultType="int">
        SELECT COUNT(userid) FROM USERS WHERE userid= #{userid}
    </select>

</mapper>