<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.thymeleafspringboot.board.dao.BoardMapper">

    <resultMap type="BoardDTO" id="generalBoardResultMap">
        <id property="no" column="BOARD_NO"/>
        <result property="type" column="BOARD_TYPE"/>
        <result property="categoryCode" column="CATEGORY_CODE"/>
        <result property="title" column="BOARD_TITLE"/>
        <result property="body" column="BOARD_BODY"/>
        <result property="writerMemberNo" column="BOARD_WRITER_MEMBER_NO"/>
        <result property="count" column="BOARD_COUNT"/>
        <result property="createdDate" column="CREATED_DATE"/>
        <result property="modifiedDate" column="MODIFIED_DATE"/>
        <result property="status" column="BOARD_STATUS"/>
        <association property="writer" resultMap="memberResultMap"/>
        <association property="category" resultMap="categoryResultMap"/>
    </resultMap>

    <resultMap type="MemberDTO" id="memberResultMap">
        <id property="memberNo" column="MEMBER_NO"/>
        <result property="memberId" column="MEMBER_ID"/>
        <result property="memberPwd" column="MEMBER_PWD"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="phone" column="PHONE"/>
        <result property="email" column="EMAIL"/>
        <result property="address" column="ADDRESS"/>
        <result property="enrollDate" column="ENROLL_DATE"/>
        <result property="memberRole" column="MEMBER_ROLE"/>
        <result property="memberStatus" column="MEMBER_STATUS"/>
    </resultMap>

    <resultMap type="CategoryDTO" id="categoryResultMap">
        <id property="code" column="CATEGORY_CODE"/>
        <result property="name" column="CATEGORY_NAME"/>
    </resultMap>

    <resultMap type="ReplyDTO" id="replyResultMap">
        <id property="no" column="REPLY_NO"/>
        <result property="refBoardNo" column="REF_BOARD_NO"/>
        <result property="body" column="REPLY_BODY"/>
        <result property="status" column="REPLY_STATUS"/>
        <result property="createdDate" column="CREATED_DATE"/>
        <association property="writer" resultMap="memberResultMap"/>
    </resultMap>

    <resultMap type="BoardDTO" id="thumbnailBoardResultMap">
        <id property="no" column="BOARD_NO"/>
        <result property="type" column="BOARD_TYPE"/>
        <result property="categoryCode" column="CATEGORY_CODE"/>
        <result property="title" column="BOARD_TITLE"/>
        <result property="body" column="BOARD_BODY"/>
        <result property="writerMemberNo" column="BOARD_WRITER_MEMBER_NO"/>
        <result property="count" column="BOARD_COUNT"/>
        <result property="createdDate" column="CREATED_DATE"/>
        <result property="modifiedDate" column="MODIFIED_DATE"/>
        <result property="status" column="BOARD_STATUS"/>
        <association property="writer" resultMap="memberResultMap"/>
        <association property="category" resultMap="categoryResultMap"/>
        <collection property="attachmentList" resultMap="attachmentResultMap"/>
    </resultMap>

    <resultMap type="AttachmentDTO" id="attachmentResultMap">
        <id property="no" column="ATTACHMENT_NO"></id>
        <result property="refBoardNo" column="REF_BOARD_NO"/>
        <result property="originalName" column="ORIGINAL_NAME"/>
        <result property="savedName" column="SAVED_NAME"/>
        <result property="savePath" column="SAVE_PATH"/>
        <result property="fileType" column="FILE_TYPE"/>
        <result property="thumbnailPath" column="THUMBNAIL_PATH"/>
        <result property="status" column="ATTACHMENT_STATUS"/>
    </resultMap>

    <select id="selectTotalCount" resultType="_int" parameterType="hashmap">
        SELECT  /* com.ohgiraffers.thymeleafspringboot.board.dao.BoardMapper#selectTotalCount() */
                COUNT(*)
          FROM  TBL_BOARD A
        <if test="searchCondition == 'category'">
            JOIN TBL_CATEGORY B ON(A.CATEGORY_CODE = B.CATEGORY_CODE)
        </if>
        <if test="searchCondition == 'writer'">
            JOIN TBL_MEMBER B ON(A.BOARD_WRITER_MEMBER_NO = B.MEMBER_NO)
        </if>
        <where>
            <if test="searchCondition == 'category'">
                B.CATEGORY_NAME = #{ searchValue }
            </if>
            <if test="searchCondition == 'writer'">
                B.NICKNAME LIKE CONCAT('%', #{ searchValue }, '%')
            </if>
            <if test="searchCondition == 'title'">
                A.BOARD_TITLE LIKE CONCAT('%', #{ searchValue }, '%')
            </if>
            <if test="searchCondition == 'content'">
                A.BOARD_BODY LIKE CONCAT('%', #{ searchValue }, '%')
            </if>
            AND A.BOARD_STATUS = 'Y'
        </where>
    </select>

    <select id="selectBoardList" resultMap="generalBoardResultMap">
        SELECT  /* com.ohgiraffers.thymeleafspringboot.board.dao.BoardMapper#selectBoardList() */
                A.BOARD_NO
                , A.BOARD_TYPE
                , A.CATEGORY_CODE
                , D.CATEGORY_NAME
                , A.BOARD_TITLE
                , A.BOARD_BODY
                , A.BOARD_WRITER_MEMBER_NO
                , E.NICKNAME
                , A.BOARD_COUNT
                , A.CREATED_DATE
                , A.BOARD_STATUS
          FROM (
                SELECT  B.BOARD_NO
                        , B.BOARD_TYPE
                        , B.CATEGORY_CODE
                        , B.BOARD_TITLE
                        , B.BOARD_BODY
                        , B.BOARD_WRITER_MEMBER_NO
                        , B.BOARD_COUNT
                        , B.CREATED_DATE
                        , B.BOARD_STATUS
                  FROM  TBL_BOARD B
                <if test="searchCondition == 'category'">
                    JOIN TBL_CATEGORY C ON(B.CATEGORY_CODE = C.CATEGORY_CODE)
                </if>
                <if test="searchCondition == 'writer'">
                    JOIN TBL_MEMBER C ON(B.BOARD_WRITER_MEMBER_NO = C.MEMBER_NO)
                </if>
                <where>
                    <if test="searchCondition == 'category'">
                        C.CATEGORY_NAME = #{ searchValue }
                    </if>
                    <if test="searchCondition == 'writer'">
                        C.NICKNAME LIKE CONCAT('%', #{ searchValue }, '%')
                    </if>
                    <if test="searchCondition == 'title'">
                        B.BOARD_TITLE LIKE CONCAT('%', #{ searchValue }, '%')
                    </if>
                    <if test="searchCondition == 'content'">
                        B.BOARD_BODY LIKE CONCAT('%', #{ searchValue }, '%')
                    </if>
                    AND B.BOARD_STATUS = 'Y'
                    AND B.BOARD_TYPE = 1
                </where>
                ) A
          JOIN  TBL_CATEGORY D ON (A.CATEGORY_CODE = D.CATEGORY_CODE)
          JOIN  TBL_MEMBER E ON(A.BOARD_WRITER_MEMBER_NO = E.MEMBER_NO)
        ORDER BY B.BOARD_NO DESC
         LIMIT  #{ startRow }, 10
    </select>

    <select id="selectBoardDetail" resultMap="generalBoardResultMap">
        SELECT  /* com.ohgiraffers.thymeleafspringboot.board.dao.BoardMapper#selectBoardDetail() */
                 A.BOARD_NO
                 , A.BOARD_TITLE
                 , A.BOARD_BODY
                 , A.BOARD_WRITER_MEMBER_NO
                 , B.NICKNAME
                 , A.BOARD_COUNT
                 , A.CREATED_DATE
                 , C.CATEGORY_NAME
          FROM  TBL_BOARD A
          JOIN  TBL_MEMBER B ON (A.BOARD_WRITER_MEMBER_NO = B.MEMBER_NO)
          JOIN  TBL_CATEGORY C ON (A.CATEGORY_CODE = C.CATEGORY_CODE)
         WHERE  A.BOARD_STATUS = 'Y'
           AND  A.BOARD_NO = #{ no }
    </select>

    <select id="selectReplyList" resultMap="replyResultMap">
        SELECT  /* com.ohgiraffers.thymeleafspringboot.board.dao.BoardMapper#selectReplyList() */
                 A.REPLY_NO
                 , A.REF_BOARD_NO
                 , A.REPLY_BODY
                 , A.REPLY_WRITER_MEMBER_NO
                 , A.CREATED_DATE
                 , B.MEMBER_NO
                 , B.NICKNAME
          FROM  TBL_REPLY A
          JOIN  TBL_MEMBER B ON (A.REPLY_WRITER_MEMBER_NO = B.MEMBER_NO)
         WHERE  A.REPLY_STATUS = 'Y'
           AND  A.REF_BOARD_NO = #{ refBoardNo }
        ORDER BY A.REPLY_NO
    </select>

    <insert id="insertReply">
        INSERT /* com.ohgiraffers.thymeleafspringboot.board.dao.BoardMapper#insertReply() */
        INTO TBL_REPLY   (
                           REF_BOARD_NO
                         , REPLY_BODY
                         , REPLY_WRITER_MEMBER_NO
                         )
        VALUES  (
                #{ refBoardNo }
                , #{ body }
                , #{ writerMemberNo }
                )
    </insert>

    <delete id="deleteReply" parameterType="long">
        DELETE  /* com.ohgiraffers.thymeleafspringboot.board.dao.BoardMapper#deleteReply() */
          FROM  TBL_REPLY
         WHERE  REPLY_NO = #{ replyNo }
    </delete>

    <insert id="insertBoard">
        INSERT /* com.ohgiraffers.thymeleafspringboot.board.dao.BoardMapper#insertBoard() */
        INTO TBL_BOARD      (
                              BOARD_TYPE
                            , CATEGORY_CODE
                            , BOARD_TITLE
                            , BOARD_BODY
                            , BOARD_WRITER_MEMBER_NO
                            )
        VALUES  (
                1
                , #{ categoryCode }
                , #{ title }
                , #{ body }
                , #{ writerMemberNo }
                )
    </insert>

    <select id="selectAllThumbnailList" resultMap="thumbnailBoardResultMap">
        SELECT  /* com.ohgiraffers.thymeleafspringboot.board.dao.BoardMapper#selectAllThumbnailList() */
                  A.BOARD_NO
                , A.BOARD_TITLE
                , B.NICKNAME
                , A.BOARD_COUNT
                , A.CREATED_DATE
                , C.ATTACHMENT_NO
                , C.ORIGINAL_NAME
                , C.SAVED_NAME
                , C.SAVE_PATH
                , C.THUMBNAIL_PATH
          FROM  TBL_BOARD A
          JOIN  TBL_MEMBER B ON (A.BOARD_WRITER_MEMBER_NO = B.MEMBER_NO)
          JOIN  TBL_ATTACHMENT C ON (A.BOARD_NO = C.REF_BOARD_NO)
         WHERE  A.BOARD_STATUS = 'Y'
           AND  C.ATTACHMENT_STATUS = 'Y'
           AND  C.FILE_TYPE = 'TITLE'
        ORDER BY A.BOARD_NO DESC
    </select>


    <insert id="insertThumbnailContent" >
        INSERT /* com.ohgiraffers.thymeleafspringboot.board.dao.BoardMapper#insertThumbnailContent() */
        INTO TBL_BOARD      (
                              BOARD_TYPE
                            , BOARD_TITLE
                            , BOARD_BODY
                            , BOARD_WRITER_MEMBER_NO
                            )
        VALUES  (
                2
                , #{ title }
                , #{ body }
                , #{ writerMemberNo }
                )
        <selectKey keyProperty="no" resultType="long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insertAttachment">
        INSERT /* com.ohgiraffers.thymeleafspringboot.board.dao.BoardMapper#insertAttachment() */
        INTO TBL_ATTACHMENT     (
                                  REF_BOARD_NO
                                , ORIGINAL_NAME
                                , SAVED_NAME
                                , SAVE_PATH
                                , FILE_TYPE
                                , THUMBNAIL_PATH
                                )
        VALUES  (
                  #{ refBoardNo }
                , #{ originalName }
                , #{ savedName }
                , #{ savePath }
                , #{ fileType }
                , #{ thumbnailPath }
                )
    </insert>

    <update id="incrementBoardCount">
        UPDATE  /* com.ohgiraffers.thymeleafspringboot.board.dao.BoardMapper#incrementBoardCount() */
                TBL_BOARD
           SET  BOARD_COUNT = BOARD_COUNT + 1
         WHERE  BOARD_NO = #{ no }
    </update>

    <select id="selectThumbnailDetail" resultMap="thumbnailBoardResultMap">
        SELECT /* com.ohgiraffers.thymeleafspringboot.board.dao.BoardMapper#selectThumbnailDetail() */
               A.BOARD_NO
             , A.BOARD_TITLE
             , A.BOARD_BODY
             , A.BOARD_WRITER_MEMBER_NO
             , B.NICKNAME
             , A.BOARD_COUNT
             , A.CREATED_DATE
             , C.ATTACHMENT_NO
             , C.ORIGINAL_NAME
             , C.SAVED_NAME
             , C.SAVE_PATH
             , C.FILE_TYPE
             , C.THUMBNAIL_PATH
        FROM TBL_BOARD A
         JOIN TBL_MEMBER B ON (A.BOARD_WRITER_MEMBER_NO = B.MEMBER_NO)
         JOIN TBL_ATTACHMENT C ON (A.BOARD_NO = C.REF_BOARD_NO)
        WHERE A.BOARD_STATUS = 'Y'
          AND C.ATTACHMENT_STATUS = 'Y'
          AND A.BOARD_NO = #{ no }
    </select>

</mapper>

