<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.thymeleafspringboot.notice.dao.NoticeMapper">

    <resultMap type="NoticeDTO" id="noticeResultMap">
        <id property="no" column="NOTICE_NO"/>
        <result property="title" column="NOTICE_TITLE"/>
        <result property="body" column="NOTICE_BODY"/>
        <result property="writerMemberNo" column="NOTICE_WRITER_MEMBER_NO"/>
        <result property="count" column="NOTICE_COUNT"/>
        <result property="createdDate" column="CREATED_DATE"/>
        <result property="status" column="NOTICE_STATUS"/>

        <association property="writer" resultMap="memberResultMap"/>
    </resultMap>

    <resultMap type="MemberDTO" id="memberResultMap">
        <id property="memberNo" column="MEMBER_NO"/>
        <result property="memberId" column="MEMBER_ID"/>
        <result property="memberPwd" column="MEMBER_PWD"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="phone" column="PHONE"/>
        <result property="email" column="EMAIL"/>
        <result property="address" column="ADDRESS"/>
        <result property="enrollDate" column="ENROLL_DATE"/>
        <result property="memberRole" column="MEMBER_ROLE"/>
        <result property="memberStatus" column="MEMBER_STATUS"/>
    </resultMap>

    <select id="selectAllNoticeList" resultMap="noticeResultMap">
        SELECT /* com.ohgiraffers.thymeleafspringboot.notice.dao.NoticeMapper#selectAllNoticeList() */
               A.NOTICE_NO
             , A.NOTICE_TITLE
             , A.NOTICE_BODY
             , A.NOTICE_WRITER_MEMBER_NO
             , B.NICKNAME
             , A.NOTICE_COUNT
             , A.CREATED_DATE
        FROM TBL_NOTICE A
        JOIN TBL_MEMBER B ON (A.NOTICE_WRITER_MEMBER_NO = B.MEMBER_NO)
        WHERE A.NOTICE_STATUS = 'Y'
        ORDER BY A.NOTICE_NO DESC
    </select>

    <insert id="insertNotice" parameterType="NoticeDTO">
        INSERT /* com.ohgiraffers.thymeleafspringboot.notice.dao.NoticeMapper#insertNotice() */
        INTO TBL_NOTICE     (
                              NOTICE_TITLE
                            , NOTICE_BODY
                            , NOTICE_WRITER_MEMBER_NO
                            )
        VALUES  (
                #{ title }
                , #{ body }
                , #{ writerMemberNo }
                )
    </insert>

    <update id="incrementNoticeCount" parameterType="long">
        UPDATE /* com.ohgiraffers.thymeleafspringboot.notice.dao.NoticeMapper#incrementNoticeCount() */
               TBL_NOTICE
           SET NOTICE_COUNT = NOTICE_NO + 1
         WHERE NOTICE_NO = #{ no }
    </update>

    <select id="selectNoticeDetail" parameterType="long" resultMap="noticeResultMap">
        SELECT /* com.ohgiraffers.thymeleafspringboot.notice.dao.NoticeMapper#selectNoticeDetail() */
               A.NOTICE_NO
               , A.NOTICE_TITLE
               , A.NOTICE_BODY
               , A.NOTICE_WRITER_MEMBER_NO
               , B.NICKNAME
               , A.NOTICE_COUNT
               , A.CREATED_DATE
          FROM TBL_NOTICE A
          JOIN TBL_MEMBER B ON (A.NOTICE_WRITER_MEMBER_NO = B.MEMBER_NO)
         WHERE A.NOTICE_STATUS = 'Y'
           AND A.NOTICE_NO = #{ no }
    </select>

    <update id="updateNotice" parameterType="NoticeDTO">
        UPDATE /* com.ohgiraffers.thymeleafspringboot.notice.dao.NoticeMapper#updateNotice() */
               TBL_NOTICE
           SET NOTICE_TITLE = #{ title }
               , NOTICE_BODY = #{ body }
         WHERE NOTICE_NO = #{ no }
    </update>

    <delete id="deleteNotice" parameterType="long">
        DELETE /* com.ohgiraffers.thymeleafspringboot.notice.dao.NoticeMapper#deleteNotice() */
          FROM TBL_NOTICE
         WHERE NOTICE_NO = #{ no }
    </delete>

</mapper>
