<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <th:block layout:fragment="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">


            <div class="outer outer-notice-detail">
                <br>
                <h2 align="center">공지 사항 내용</h2>
                <div class="table-area">
                    <table align="center">
                        <tr>
                            <td>제목 </td>
                            <td colspan="3"><p th:text="${ notice.title }"></p></td>
                        </tr>
                        <tr>
                            <td>작성자 </td>
                            <td><p th:text="${ notice.writer.nickname }"></p></td>
                            <td>작성일</td>
                            <td><p th:text="${ notice.createdDate }"></p></td>
                        </tr>
                        <tr>
                            <td>내용 </td>
                            <td colspan="3">
                                <textarea
                                        style="resize:none; width:90%; height:200px; resize:none;"
                                        th:text="${ notice.body }"
                                        readonly
                                ></textarea>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <div align="center">
                        <button
                                type="button"
                                class="btn btn-or"
                                th:onclick="'location.href=\'/notice/list\''"
                        >
                            돌아가기
                        </button>

                        <th:block sec:authorize="hasRole('ADMIN')">
                            <button
                                    class="btn btn-or"
                                    th:onclick="'location.href=\'/notice/update?no='+ @{${ notice.no }} + '\''"
                            >
                                수정하기
                            </button>
                            <button
                                    class="btn btn-bs"
                                    th:onclick="'location.href=\'/notice/delete?no='+ @{${ notice.no }} + '\''"
                            >
                                삭제하기
                            </button>
                        </th:block>

                    </div>
                </div>
            </div>
        </div>
    </th:block>

</html>
