<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <th:block layout:fragment="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">


            <div class="outer outer-notice-update">
                <br>
                <h2 align="center">공지 사항 수정</h2>
                <div class="table-area">
                    <form id="noticeUpdateForm" th:action="@{/notice/update}" method="post">
                        <table>
                            <input
                                    type="hidden"
                                    id="no"
                                    name="no"
                                    th:value="${ notice.no }"
                            >
                            <tr>
                                <td>제목 </td>
                                <td><input type="text" size="50" name="title" th:value="${ notice.title }"></td>
                            </tr>
                            <tr>
                                <td>작성자 </td>
                                <td><p th:text="${ notice.writer.nickname }"></p></td>
                            </tr>
                            <tr>
                                <td>내용 </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <textarea
                                            name="body"
                                            cols="60"
                                            rows="15"
                                            style="resize:none;"
                                            th:text="${ notice.body }"
                                    ></textarea>
                                </td>
                            </tr>
                        </table>
                        <br>
                        <div align="center">
                            <button
                                    type="button"
                                    class="btn btn-or"
                                    th:onclick="'location.href=\'/notice/detail?no='+ @{${ notice.no }} + '\''"
                            >
                                돌아가기
                            </button>
                            <button type="reset" class="btn btn-or" style="width: 150px">작성내용 되돌리기</button>
                            <button type="submit" class="btn btn-bs">수정하기</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </th:block>

</html>
