<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <th:block layout:fragment="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <div class="outer outer-notice-insert">
                <br>
                <h2 align="center">공지 사항 작성</h2>
                <div class="table-area">
                    <form th:action="@{/notice/regist}" method="post">
                        <table>
                            <input
                                    type="hidden"
                                    id="writerMemberNo"
                                    name="writerMemberNo"
                                    th:value="${ #authentication.getPrincipal().getMemberNo() }"
                            >
                            <tr>
                                <td>제목 </td>
                                <td><input type="text" size="50" name="title"></td>
                            </tr>
                            <tr>
                                <td>작성자 </td>
                                <td>
                                    <p
                                        th:text="${ #authentication.getPrincipal().getNickname() }"
                                    >
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>내용 </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <textarea name="body" cols="60" rows="15" style="resize:none;" required></textarea>
                                </td>
                            </tr>
                        </table>
                        <br>
                        <div align="center">
                            <button
                                    type="button"
                                    class="btn btn-pk"
                                    th:onclick="'location.href=\'notice/list\''"
                            >
                                돌아가기
                            </button>
                            <button type="reset" class="btn btn-or" style="width: 150px">작성내용 되돌리기</button>
                            <button type="submit" class="btn btn-bs">등록하기</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </th:block>

</html>
