<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/default.css">
  <link rel="stylesheet" href="/css/carousel.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/login.css">
  </head>
<body>
  <div th:insert="/common/header.html"></div>
  <div class="login"><!--로그인 페이지 시작-->
    <div class="DasiLog"><!--로고 시작-->
      <a href="index.html" class="brand" style="font-size: 75px;">DASi</a>
    </div><!--로고 끝-->
    <div class="allBox"><!--박스 묶음-->
    <div class="idBox"><!--아이디 박스 시작-->
      <input type="text" name="id" id="id" placeholder="아이디를 입력하세요." class="input">
    </div><!--아이디 박스 끝-->
    <div class="PwBox"><!--비밀번호 시작-->
      <input type="password" id="pw" name="pw" placeholder="비밀번호를 입력하세요." title="비밀번호" class="input" maxlength="20">
    </div><!--비밀번호 끝-->
    </div><!-- 박스 묶음 끝-->
    <div class="checkBox"><!--체크박스 시작-->
      <input type="checkbox" id="remember" value="">아이디 저장하기
    </div><!--체그 박스 끝-->
    <div class="logBtn"><!--버튼 묶음-->
      <button class="button button-lg button-dark">로그인</button>
      <button class="button button-lg button-light">회원가입</button>
    </div><!--버튼 묶음 끝-->
    <div class="IdRemember"><!--아이디 생각하기 시작-->
    </div><!--아이디 생각하기 끝-->
    <div class="find"><!--아이디 비밀번호 찾기-->
      <ul>
        <li><a href="#">아이디 / 비밀번호 찾기</a></li>
      </ul>
    </div><!--아이디 비밀번호 찾기 끝-->
    <div class="footerWrap"><!--footer 시작-->
      <div th:insert="/common/footer.html"></div>
      <script src="/js/header.js"></script>
      <script src="/js/carousel.js"></script>
      <script src="/js/default.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    </div><!--Footer 끝-->
  </div><!--로그인 페이지 끝-->

  
</body>
</html>