<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/default.css">
  <link rel="stylesheet" href="/css/carousel.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/memberForms.css">

  </head>
<body>
  <div th:insert="/common/header.html"></div>

  <div class="wrap">
    <div class="page pseudo_padding-2">

      <div class="item-container ic1">
        <div class="member-title text-c">
          <h3>
            <a th:href="@{/}" class="brand-lg">DASi</a>
          </h3>
        </div>
        <div class="member-area-wrapper"><!--find시작-->

          <div class="member-area">

            <div class="member-form">
              <div class="input-form-area">
                <form class="input-form" id="enterIdForm" th:action="@{login}" method="post">
                  <div class="input-group">
                    <input id="enterId" class="input" type="text" placeholder="id">
                  </div>
                  <span class="input-font"></span>
                  <div class="input-group">
                    <input id="inputPassword" class="input" type="password" placeholder="password" maxlength="20">
                  </div>
                </form>
                <div>
                </div>
                <div class="items_container ic2 pt-1">
                  <a th:href="@{/main}" class="button button-light">로그인
                  </a>
                  <a href="../join/joinMembership.html" class="button button-dark">회원가입
                  </a>
                </div>
                <div class="find" style="text-align: center; margin:15px 0 15px 0;">
                  <a th:href="@{/member/login/findId}">ID / 비밀번호 찾기</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div th:insert="/common/footer.html"></div>
  <script>
    $(function(){
      $("input[name=userId]").focus();

      $("input[type=submit]").click(function (){
        $("#enterIdForm").submit();
      })
    })
  </script>
  <script src="js/header.js"></script>
  <script src="js/carousel.js"></script>
  <script src="js/default.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


</body>
</html>