<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <th:block layout:fragment="content">
        <div class="container-fluid">

            <div class="outer outer-board-detail">
                <br>
                <h2 align="center">게시판 내용</h2>
                <div class="table-area">
                    <table>
                        <tr>
                            <td>분야</td>
                            <td><p th:text="${board.category.name}"></p></td>
                        </tr>
                        <tr>
                            <td>제목</td>
                            <td colspan="3"><p th:text="${board.title}"></p></td>
                        </tr>
                        <tr>
                            <td>내용</td>
                            <td colspan="3">
                                <textarea
                                        name="body"
                                        cols="60"
                                        rows="15"
                                        style="resize: none;"
                                        readonly
                                        th:text="${board.body}"
                                >
                                </textarea>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <div align="center">
                        <button
                                type="button"
                                class="btn btn-or"
                                th:onclick="'location.href=\'/board/list\''"
                        >
                            돌아가기
                        </button>
                    </div>

                    <!-- 아래 태그들은 댓글 관련 내용 -->
                    <!-- 댓글 작성용 table -->
                    <table id="replyWrite">
                        <input type="hidden" id="boardNo" th:value="${board.no}">
                        <tr>
                            <td>댓글</td>
                            <td>
                                <textarea
                                        cols="40"
                                        rows="3"
                                        id="replyBody"
                                        style="resize: none;"
                                ></textarea>
                            </td>
                            <td>
                                <button type="button" id="registReply">작성하기</button>
                            </td>
                        </tr>
                    </table>

                    <!-- 댓글 내용 출력용 table -->
                    <table id="replyResult">
                        <th:block th:if="${ replyList != null }">

                            <th:block th:each="reply : ${replyList}">
                                <tr class="replyListTr">
                                    <input type="hidden" id="${ reply.no }" th:value="${ reply.no }">
                                    <td th:text="${ reply.body }"></td>
                                    <td th:text="${ reply.writer.nickname }"></td>
                                    <td th:text="${ reply.createdDate }"></td>
                                    <td>
                                        <th:block
                                            sec:authorize="isAuthenticated()"
                                            th:if="${ #authentication.getPrincipal().getMemberNo() == reply.writer.memberNo }"
                                        >
                                            <button
                                                    type="button"
                                                    th:replyNo="${ reply.no }"
                                                    th:onclick="removeReply(this.getAttribute('replyNo'))"
                                            >
                                                댓글삭제
                                            </button>
                                        </th:block>
                                    </td>
                                </tr>
                            </th:block>


                        </th:block>
                    </table>

                </div>
            </div>

        </div>




<script th:inline="javascript">

    /* 댓글 작성 이벤트 처리 */
    if(document.getElementById("registReply")) {

        const $registReply = document.getElementById("registReply");
        const $replyBody = document.getElementById("replyBody");

        $registReply.onclick = function() {

            if($replyBody.value.trim() == ""){
                alert('댓글을 입력해 주십시오');
                return ;
            }

            let boardNo = document.getElementById("boardNo").value;
            let replyBody = document.getElementById("replyBody").value;

            console.log('BoardNo : ', boardNo);
            console.log('replyBody : ', replyBody);

            fetch("/board/registReply", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json;charset=UTF-8'
                },
                body: JSON.stringify(
                    {
                        writerMemberNo: '[[${#authentication.getPrincipal().getMemberNo()}]]',
                        refBoardNo: boardNo,
                        body: replyBody
                    }
                )
            })
                .then(result => result.json())
                .then(data => {
                    const $table = $("#replyResult");
                    $table.html("");

                    data.map((reply) => {
                        $tr = $("<tr>");
                        $bodyTd = $("<td>").text(reply.body);
                        $writerTd = $("<td>").text(reply.writer.nickname);
                        $createDateTd = $("<td>").text(reply.createdDate);
                        if(reply.writer.memberNo == '[[${#authentication.getPrincipal().getMemberNo()}]]'){
                            $removeTd = $("<td>").append("<button type='button' onclick='removeReply(" + reply.no + ")'>댓글삭제</button>");
                        } else {
                            $removeTd = $("<td>");
                        }

                        $tr.append("<input type='hidden' id=" + reply.no + " value='" + reply.no + "'>");
                        $tr.append($bodyTd);
                        $tr.append($writerTd);
                        $tr.append($createDateTd);
                        $tr.append($removeTd);

                        $table.append($tr);
                    });

                })
                .catch((error) => error.text().then((res) => alert(res)));
        }
    }



    /* 댓글 삭제 이벤트 처리 함수*/
    function removeReply(replyNo){

        let boardNo = document.getElementById("boardNo").value;

        fetch("/board/removeReply", {
            method: "DELETE",
            headers: {
                'Content-Type': 'application/json;charset=UTF-8'
            },
            body: JSON.stringify(
                {
                    refBoardNo:boardNo,
                    no:replyNo
                }
            )
        })
            .then(result => result.json())
            .then(data => {
                console.table(data);

                const $table = $("#replyResult");
                $table.html("");

                data.map((reply) => {
                    $tr = $("<tr>");
                    $bodyTd = $("<td>").text(reply.body);
                    $writerTd = $("<td>").text(reply.writer.nickname);
                    $createDateTd = $("<td>").text(reply.createdDate);
                    if(reply.writer.memberNo == '[[${#authentication.getPrincipal().getMemberNo()}]]'){
                        $removeTd = $("<td>").append("<button type='button' onclick='removeReply(" + reply.no + ")'>댓글삭제</button>");
                    } else {
                        $removeTd = $("<td>");
                    }

                    $tr.append("<input type='hidden' id=" + reply.no + " value='" + reply.no + "'>");
                    $tr.append($bodyTd);
                    $tr.append($writerTd);
                    $tr.append($createDateTd);
                    $tr.append($removeTd);

                    $table.append($tr);

                })


        })
        .catch((error) => error.text().then((res) => alert(res)));
    }
</script>
    </th:block>
</html>