<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

    <th:block layout:fragment="content">
        <div class="container-fluid">

            <div class="outer outer-board-insert">
                <br>
                <h2 align="center">게시판 작성</h2>
                <div class="table-area">
                    <form id="boardRegistForm" th:action="@{/board/regist}" method="post">
                        <table>
                            <input
                                type="hidden"
                                id="writerMemberNo"
                                name="writerMemberNo"
                                th:value="${ #authentication.getPrincipal().getMemberNo() }"
                            >
                            <tr>
                                <td>분야</td>
                                <td>
                                    <select name="categoryCode">
                                        <option value="10">공통</option>
                                        <option value="20">운동</option>
                                        <option value="30">등산</option>
                                        <option value="40">낚시</option>
                                        <option value="50">게임</option>
                                        <option value="60">요리</option>
                                        <option value="70">기타</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>제목 </td>
                                <td colspan="3"><input type="text" name="title" style="width:400px;"></td>
                            </tr>
                            <tr>
                                <td>내용 </td>
                                <td colspan="3">
                                    <textarea name="body" cols="60" rows="15" style="resize:none;"></textarea>
                                </td>
                            </tr>
                        </table>
                        <br>
                        <div align="center">
                            <button
                                    type="button"
                                    class="btn btn-pk"
                                    th:onclick="'location.href=\'/board/list\''"
                            >
                                돌아가기
                            </button>
                            <button type="reset" class="btn btn-or" style="width: 150px">작성내용 되돌리기</button>
                            <button type="submit" class="btn btn-bs">등록하기</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </th:block>
</html>
