<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DASi ADMIN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/carousel.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/addmin.css">
    <link rel="stylesheet" href="/css/order.css>">

    <style>
        /* Textarea Size */
        textarea {
            resize: none !important;
        }
    </style>

</head>
<body>
<div th:insert="/fragments/header.html"></div>

<br>
<div class="page">
    <h1> 취소 사유</h1>
    <hr>
    <div>
        <textarea id="rejectText" placeholder="취소 사유 작성해주세요." style="width: 100%; height: 50vh;"></textarea>
    </div>
    <div class="items_container" style="display: flex;">
        <div class="item" style="width: 100%;">
            <button class="button button-lg button-light" style="width: 100%;"
                    onclick=" alert('취소하시겠습니까?'); location.href='adminOrderDetail.html';">취소
            </button>
        </div>
        <div class="item" style="width: 100%;">
            <button class="button button-lg button-dark" style="width: 100%;" id="confirm">등록</button>
        </div>
    </div>

</div>

<div th:insert="/fragments/footer.html"></div>
<script src="/js/header.js"></script>
<script src="/js/carousel.js"></script>
<script src="/js/default.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>
</html>