<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>DASi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/default.css">
  <link rel="stylesheet" href="/css/carousel.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/order.css">

</head>
<body>

  <div th:insert="/common/header.html"></div>
  

  <div class="page">
    <div style="position:relative; text-align: center; align-items: center; display: flex; justify-content: center; height: 70vh;">
        <h1 class="brand">DASi<br>
        주문제작이 정상적으로 접수되었습니다.</h1>
        <hr>
    </div>

    <div style="position:relative; text-align: center; align-items: center; display: flex; justify-content: center;">
    <form action="/">
        <button class="button button-lg button-dark" style="width: 50vh;" onclick="location.href='/'">확인</button>
    </form>
    </div>

    </div>

  <div th:insert="/common/footer.html"></div>
  <script src="/js/header.js"></script>
  <script src="/js/carousel.js"></script>
  <script src="/js/default.js"></script>
  </body>
  </html>
