<header class="topnav" id="myTopnav">
    <a th:href="@{/}" href="@{/}" class="brand">DASi</a>
    <nav class="menu">
        <ul>
            <li><a th:href="@{/admin/memberInfo/admin}">회원관리</a></li>
            <li><a th:href="@{/admin/orderList/adminOrderList}">주문 내역 관리</a></li>
            <li><a th:href="@{/admin/productList/adminProduct}">제작 상품 관리</a></li>
            <li><a th:href="@{/admin/questionList/managerQuestion}">문의 관리</a></li>
            <li><a th:href="@{/admin/layoutAndPolicy/adminLayout}">레이아웃 관리</a></li>
        </ul>
    </nav>
    <a th:href="@{/member/login/login}" class="user"><i class="fa fa-user-circle"></i></a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</header>