<header class="topnav" id="myTopnav">
    <a th:href="@{/}" class="brand">DASi</a>
    <nav class="menu">
        <ul>
            <li><a th:href="@{/}">회원관리</a></li>
            <li><a th:href="@{/}">주문 내역 관리</a></li>
            <li><a th:href="@{/}">제작 상품 관리</a></li>
            <li><a th:href="@{/}">문의 관리</a></li>
            <li><a th:href="@{/}">레이아웃 관리</a></li>
        </ul>
    </nav>
    <a href="/member/login/login" class="user"><i class="fa fa-user-circle"></i></a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</header>