<footer>
    <div class="page">
        <div class="items_container ic2">
            <div class="item">
                <h3 class="text-white">이용약관</h3>
                <hr>
                <ul>
                    <li>회사소개</li>
                    <li>이용약관</li>
                    <li>개인정보처리방침</li>
                </ul>

            </div>
            <div class="item">
                <h3 class="text-white">(주)다시</h3>
                <hr>
                <ul>
                    <li>대표자 : 김민범, 김민주, 배승수, 이가현</li>
                    <li><a href="tel:010-4666-8627" class="text-white">010-1234-5678</a></li>
                    <li><a href="mailto:vaguewords@gmail.com?subject=문의메일 제목" class="text-white">aaaa@bbbb.com</a></li>
                </ul>
            </div>
        </div>
    </div>

</footer>