<footer>
    <div class="page">
        <div class="items_container ic2">
            <div class="item">
                <h3 class="text-white">이용약관</h3>
                <hr>
                <ul>
                    <li><a href="#policy1" rel="modal:open">회사소개</a></li>
                    <li><a href="#policy2" rel="modal:open">이용약관</a></li>
                    <li><a href="#policy3" rel="modal:open">개인정보처리방침</a></li>
                </ul>

            </div>
            <div class="item">
                <h3 class="text-white">(주)다시</h3>
                <hr>
                <ul>
                    <li>대표자 : 김민범, 김민주, 배승수, 이가현</li>
                    <li><a href="tel:010-4666-8627" class="text-white">010-1234-5678</a></li>
                    <li><a href="mailto:projectdasi2023@gmail.com?subject=DASi 관련 문의" class="text-white">projectdasi2023@gmail.com</a></li>
                </ul>
            </div>
        </div>
    </div>

</footer>

