<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디 찾기</title>
    <script>(()=>{const d=document.documentElement;d.classList.remove("Noscript"),d.classList.add("Script")})();</script>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/carousel.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/memberForms.css">
</head>
<body>
<!-- header -->
<div th:insert="fragments/header.html"></div>
<div class="wrap">
    <div class="page pseudo_padding-2">

            <div class="item-container ic1">
                <div class="member-title text-c">
                    <h3>
                        <a th:href="@{/}" class="brand-lg">DASi</a>
                    </h3>
                </div>

                <div class="member-area-wrapper"><!--find시작-->
                    <div class="member-area member-area-sm">
                        <a href="findId">
                            <button class="button button-dark w-100">아이디 찾기</button>
                        </a>
                        <a href="findPw">
                            <button class="button button-light w-100">비밀번호 찾기</button>
                        </a>
                    </div>
                    <hr>
                    <div class="member-area">

                        <div class="member-form">
                            <div class="input-form-area">
                                <form class="input-form" id="findIdForm" action="" method="post">
                                    <div class="input-group">
                                        <input class="input" placeholder="가입 당시 입력하신 메일 주소를 입력해주세요.">
                                        <button class="button button-dark">전송</button>
                                    </div>
                                </form>
                                <form class="input-form" id="findIdFormCode" action="" method="post">
                                    <span class="input-font"></span>
                                    <div class="input-group">
                                        <input class="input" placeholder="이메일로 받으신 6자리 인증번호를 입력하세요." maxlength="6">
                                        <button class="button button-dark">확인</button>
                                    </div>
                                    <button class="button button-dark mt-1" type="submit">아이디 찾기</button>
                                </form>
                            </div>
                        </div><!--mail끝-->
                    </div>
                </div>
                <!--find끝-->
            </div><!--search끝-->

    </div>
</div>




<!--wrap끝-->

<div th:insert="fragments/footer.html"></div>
<script src="js/header.js"></script>
<script src="js/carousel.js"></script>
<script src="js/default.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>
</html>