<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/memberForms.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="/js/loader.js"></script>
</head>
<body>
<div class="loader-area">
    <div class="loader">
    </div>
</div>
<div th:insert="fragments/header.html"></div>

<div class="wrap">
    <div class="page pseudo_padding-2">

        <div class="item-container ic1">
            <div class="member-title text-c">
                <h3>
                    <a th:href="@{/}" class="brand-lg">DASi</a>
                </h3>
            </div>


            <div class="member-area-wrapper"><!--find시작-->

                <div class="member-area">

                    <div class="member-form">

                        <div class="input-form-area">
                            <form action="login" method="post" class="input-form" id="formLogin">
                                <div class="item">
                                    <label for="userId" style="display: none">id</label>
                                    <input class="input" type="text" id="userId" placeholder="userId"
                                           name="userId">
                                </div>

                                <div class="item">
                                    <label for="password" style="display: none">pw</label>
                                    <input class="input" type="password" id="password" placeholder="password"
                                           name="password">
                                </div>
                                <div>
                                    <div class="checkBox">
                                        <input type="checkbox" id="remember" value="">아이디 저장하기
                                    </div>
                                </div>
                                <div class="items_container ic2 pt-1">

                                    <a th:href="@{signup}" class="button button-dark">회원가입</a>
                                    <button class="button button-light" type="submit">로그인</button>
                                </div>
                            </form>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="fragments/footer.html"></div>
<script src="js/header.js"></script>
<script src="js/carousel.js"></script>
<script src="js/default.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>
</html>

