<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/memberForms.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="/js/loader.js"></script>
</head>
<body>
<div class="loader-area">
    <div class="loader">
    </div>
</div>
<div th:insert="fragments/header.html"></div>

<script>
    $(document).ready(function(){
        var key = getCookie("RememberIdCookie"); //user1
        if(key!=""){
            $("#userId").val(key);
        }

        if($("#userId").val() != ""){
            $("#idSaveCheck").attr("checked", true);
        }

        $("#RememberId").change(function(){
            if($("#RememberId").is(":checked")){
                setCookie("RememberIdCookie", $("#userId").val(), 7);
            }else{
                deleteCookie("RememberIdCookie");
            }
        });

        $("#userId").keyup(function(){
            if($("#RememberId").is(":checked")){
                setCookie("RememberIdCookie", $("#userId").val(), 7);
            }
        });
    });
    function setCookie(cookieName, value, exdays){
        var exdate = new Date();
        exdate.setDate(exdate.getDate() + exdays);
        var cookieValue = escape(value) + ((exdays==null) ? "" : "; expires=" + exdate.toGMTString());
        document.cookie = cookieName + "=" + cookieValue;
    }

    function deleteCookie(cookieName){
        var expireDate = new Date();
        expireDate.setDate(expireDate.getDate() - 1);
        document.cookie = cookieName + "= " + "; expires=" + expireDate.toGMTString();
    }

    function getCookie(cookieName) {
        cookieName = cookieName + '=';
        var cookieData = document.cookie;
        var start = cookieData.indexOf(cookieName);
        var cookieValue = '';
        if(start != -1){
            start += cookieName.length;
            var end = cookieData.indexOf(';', start);
            if(end == -1)end = cookieData.length;
            cookieValue = cookieData.substring(start, end);
        }
        return unescape(cookieValue);
    }
</script>

<div class="wrap">
    <div class="page pseudo_padding-2">

        <div class="item-container ic1">
            <div class="member-title text-c">
                <h3>
                    <a th:href="@{/}" class="brand-lg">DASi</a>
                </h3>
            </div>


            <div class="member-area-wrapper"><!--find시작-->

                <div class="member-area">

                    <div class="member-form">

                        <div class="input-form-area">
                            <form action="login" method="post" class="input-form" id="formLogin">
                                <div class="item">
                                    <label for="userId" style="display: none">id</label>
                                    <input class="input" type="text" id="userId" placeholder="userId"
                                           name="userId" autocomplete="off">
                                </div>

                                <div class="item">
                                    <label for="password" style="display: none">pw</label>
                                    <input class="input" type="password" id="password" placeholder="password"
                                           name="password" autocomplete="off">
                                </div>
                                <div>
                                    <div class="checkBox">
                                        <input type="checkbox" id="RememberId" value="" checked>아이디 저장하기
                                    </div>
                                </div>
                                <div class="items_container ic2 pt-1">

                                    <a th:href="@{signup}" class="button button-dark">회원가입</a>
                                    <button class="button button-light" type="submit">로그인</button>
                                </div>
                                <a href="findId"><span class="input-text">ID / 비밀번호를 잊어버리셨나요?</span></a>
                            </form>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="fragments/footer.html"></div>
<script src="js/header.js"></script>
<script src="js/carousel.js"></script>
<script src="js/default.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>
</html>

