<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입 성공 페이지</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="/css/default.css">
  <link rel="stylesheet" href="/css/carousel.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/memberForms.css">
<link rel="stylesheet" href="/css/loginSuccess.css">
</head>
<body>
  <div th:insert="fragments/header.html"></div>
  <div class="wrap">
    <div class="page pseudo_padding-2">
      <div class="member-area-wrapper">
        <div class="member-area2">
          <div class="items_container ic1">
            <div class="member-title text-c">
              <h3>
                <a th:href="@{/static}" class="brand-lg">DASi</a>
              </h3>
              <h4>회원가입이 완료되었습니다.</h4>
            </div>
          </div>
          <div class="items_container ic2"><!--버튼 묶음 -->
            <a th:href="@{/}" class="button button-light">홈으로</a>
            <a th:href="@{/content/mypage/myPage}" class="button button-dark">마이페이지</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div th:insert="fragments/footer.html"></div>
</body>
</html>