<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/signup.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
<!-- header -->
<div th:insert="fragments/header.html"></div>

<!-- 회원가입 -->
<div class="wrap pseudo_padding">
    <div class="page" id="joinMemberShip">
        <div id="dasi" class="join-title">
            <h3><a href="main">DASi</a></h3>
            <h2>계정 만들기</h2>
        </div>

        <form id="joinForm" action="signup" method="post">
            <div class="items_container ic2 g-gap2" id="joinBigBox">
                <div class="join">
                    <div class="member">
                        <!--아이디 입력-->
                        <div class="join-form-area">
                            <div class="join-form">
                                <span class="input-font"><label for="userid">ID*</label></span>
                                <div class="input-group">
                                    <input id="userId" name="userId" type="text" class="input" placeholder="userId" maxlength="16" required/>
                                    <button class="button button-dark" id="idCheckButton" onClick="checkId()">중복확인</button>


                                </div>
                            </div>
                            <span class="input-caption" id="idChk">(영문 소문자/숫자, 4~16자)</span>
                            <span class="input-caption">(영문 소문자/숫자, 4~16자)</span>


                        </div>

                        <!-- id ajax 중복체크 -->
                        <script>
                            function checkId(){
                                var userId = $('#userId').val(); //id값이 "id"인 입력란의 값을 저장
                                $.ajax({
                                    url:'./idCheck', //Controller에서 요청 받을 주소
                                    type:'post', //POST 방식으로 전달
                                    data:{userId:userId},
                                    success:function(cnt){ //컨트롤러에서 넘어온 cnt값을 받는다
                                        if (cnt == 0){
                                            alert("사용할 수 있는 아이디입니다.");
                                        } else { // cnt가 1일 경우 -> 이미 존재하는 아이디

                                            alert("누군가 이 아이디를 사용하고 있어요.");
                                            $('#id').val('');
                                        }
                                    },
                                    error:function(){
                                        alert("에러입니다");
                                    }
                                });
                            };
                        </script>
                        <!---아이디 입력 끝=-->
                        <!--비밀번호 입력-->
                        <div class="join-form-area" id="passwordArea">
                            <div class="join-form">
                                <span class="input-font">PASSWORD*</span>
                                <div class="input-group">
                                    <input id="password" name="password" type="password" class="input" placeholder="비밀번호" minlength="8" maxlength="16" required>
                                </div>
                            </div>
                            <span class="input-caption">(영문 대소문자나/숫자/특수문자 중 2가지 이상 조합, 8~16자)를 입력하세요.</span>
                            <div class="join-form pt-2">
                                <span class="input-font">CONFIRM PASSWORD*</span>
                                <div class="input-group">
                                    <input id="passwordConfirm" name="passwordConfirm" type="password" class="input" placeholder="비밀번호를 재입력해주세요" minlength="8"  maxlength="16" required>
                                </div>
                            </div>
                            <span class="input-caption passwordConfirmed" style="display: none">비밀번호가 일치합니다.</span>
                            <span class="input-caption passwordRejected" style="display: none">비밀번호가 일치하지 않습니다. 다시 입력해 주세요.</span>
                        </div>
                        <!--비밀번호 입력 끝-->
                        <script>
                            $('#passwordArea').focusout(function () {
                                console.log('ddd');
                                var password = $("#password").val();
                                var passwordConfirm = $("#passwordConfirm").val();

                                if ( password != '' && passwordConfirm == '' ) {
                                    null;
                                } else if (password != "" || passwordConfirm != "") {
                                    if (password == passwordConfirm) {
                                        $('.passwordConfirmed').css({'display' : 'inline-block'});
                                        $('.passwordConfirmed').addClass('text-succ');
                                    } else {
                                        $('.passwordRejected').css({'display' : 'inline-block'});
                                        $('.passwordRejected').addClass('text-dg');
                                    }
                                }
                            });
                        </script>
                        <!--이름 시작-->
                        <div class="join-form-area">
                            <div class="join-form">
                                <span class="input-font">NAME</span>
                                <div class="input-group">
                                    <input id="name" name="name" type="text" class="input" placeholder="이름을 입력해주세요." maxlength="15" required>
                                </div>
                            </div>
                        </div>
                        <!--이름 끝-->
                        <!--이메일 입력-->

                        <div class="join-form-area">
                            <div class="join-form">
                                <span class="input-font">E-mail*</span>
                                <div class="input-group">
                                    <input id="email" name="email" type="text" class="input" placeholder="@를 포함한 이메일을 입력해주세요." required>
                                    <button class="button button-dark" id="mail-Check-Btn">인증번호 발송</button>
                                </div>
                            </div>
                            <div class="join-form pt-1">
                                <div class="input-group">
                                    <input id="emailCode" name="emailCode" type="text" class="input" placeholder="전송받은 인증번호 6자리를 입력하세요." maxlength="6" required>
                                    <button class="button button-dark">확인</button>
                                </div>
                            </div>
                        </div>

                        <!--이메일 입력 끝-->

                        <!--생년월일 및 성별 시작-->
                        <div class="items_container ic2">
                            <div class="join-form-area">
                                <div class="join-form">
                                    <span class="input-font">생년월일</span>
                                    <div class="input-group">
                                        <input id="birthDate" name="birthDate" type="text" class="input"/>
                                        <!--<input id="birthdate" name="birthdate" type="date" value="2023-01-01" min="1950-01-01" max="2023-01-01" class="Calendar" required>-->
                                    </div>
                                </div>
                            </div>
                            <div class="join-form-area" id="enterGender">
                                <span class="input-font">성별</span>
                                <form class="join-form" id="gender" action="" method="post">
                                    <div>
                                        <input type="radio" name="gender" value="man" id="man" checked><label for="man">남</label>
                                        <input type="radio" name="gender" value="woman" id="woman"><label for="woman">여</label>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!--생년월일 및 성별 끝-->
                        <!--전화번호-->

                        <div class="join-form-area">
                            <span class="input-font">전화번호*</span>
                            <div class="join-form">
                                <div class="input-group">
                                    <input id="tel" name="tel" type="text" class="input" maxlength="3" required>
                                    <!--<div class="hyphen">-</div>
                                    <input type="text" class="input" name="tel" maxlength="4" required>
                                    <div class="hyphen">-</div>
                                    <input type="text" class="input" name="tel" maxlength="4" required>-->
                                </div>
                            </div>
                        </div>
                        <!--번호 입력 끝-->
                        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
                        <script>
                            function sample6_execDaumPostcode() {
                                new daum.Postcode({
                                    oncomplete: function(data) {
                                        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                                        // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                                        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                                        var addr = ''; // 주소 변수
                                        var extraAddr = ''; // 참고항목 변수

                                        //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                                        if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                                            addr = data.roadAddress;
                                        } else { // 사용자가 지번 주소를 선택했을 경우(J)
                                            addr = data.jibunAddress;
                                        }

                                        // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                                        if(data.userSelectedType === 'R'){
                                            // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                                            // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                                            if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                                                extraAddr += data.bname;
                                            }
                                            // 건물명이 있고, 공동주택일 경우 추가한다.
                                            if(data.buildingName !== '' && data.apartment === 'Y'){
                                                extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                                            }
                                            // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                                            /*if(extraAddr !== ''){
                                                extraAddr = ' (' + extraAddr + ')';
                                            }*/
                                            // 조합된 참고항목을 해당 필드에 넣는다.
                                            //document.getElementById("sample6_extraAddress").value = extraAddr;

                                        } else {
                                            document.getElementById("sample6_extraAddress").value = '';
                                        }

                                        // 우편번호와 주소 정보를 해당 필드에 넣는다.
                                        document.getElementById('sample6_postcode').value = data.zonecode;
                                        document.getElementById("sample6_address").value = addr;
                                        // 커서를 상세주소 필드로 이동한다.
                                        document.getElementById("sample6_detailAddress").focus();
                                    }
                                }).open();
                            }
                        </script>

                        <div class="join-form-area">
                            <div class="join-form">
                                <span class="input-font">우편번호*</span>
                                <div class="input-group">
                                    <input type="text" class="input" id="sample6_postcode" placeholder="우편번호">
                                    <input type="button" class="button button-dark" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
                                </div>

                            </div>
                        </div>

                        <div class="join-form-area">
                            <div class="join-form">
                                <span class="input-font">도로명 주소</span>
                                <div class="input-group">
                                    <input id="sample6_address" name="address" type="text" class="input" placeholder="도로명 주소">
                                </div>
                            </div>
                        </div>



                        <div class="join-form-area">
                            <form class="join-form" id="entedRestAddrForm" action="" method="post">
                                <span class="input-font">상세주소</span>
                                <div class="input-group">
                                    <input id="sample6_detailAddress" type="text" class="input" placeholder="상세주소">
                                </div>
                            </form>
                        </div>

                        <!--주소 입력 끝-->



                    </div>
                </div>
                <!--전체 동의-->
                <div class="agree" id="agreement">

                    <div class="join-form-area">
                        <span class="input-font text-bold">[필수]이용약관 동의</span>
                        <div class="check_policy">
                        </div>
                        <span class="input-font">이용약관에 동의하십니까?</span>
                        <form action="join-form" name="marketingstatus" method="" id="marketingstatus">
                            <input type="radio" name="agre" value="ok" checked>동의함
                            <input type="radio" name="agre" value="no">동의하지 않음
                        </form>
                    </div>

                    <div class="join-form-area">
                        <span class="input-font text-bold">[필수]개인정보처리방침 동의</span>

                        <div class="check_policy" id="privacyPolicy">

                        </div>
                        <span class="input-font">이용약관에 동의하십니까?</span>
                        <form action="join-form" name="" method="" id="privacyPolicyAgree">
                            <input type="radio" name="agre" value="ok" checked>동의함
                            <input type="radio" name="agre" value="no">동의하지 않음
                        </form>


                    </div>
                    <!--개인정보처리방침 동의 끝 나는 div-->
                    <button type="submit" class="button button-dark w-100">회원가입</button>
                </div> <!--agree 끝나는 div 부분 -->
                <!--전체 동의 끝나는 부분-->
            </div>
        </form>
        <!-- form 전체 묶음-->

        <!--전체 묶음 종료-->
    </div>
</div>



<div th:insert="fragments/footer.html"></div>
<script src="/js/header.js"></script>
<script src="/js/carousel.js"></script>
<script src="/js/default.js"></script>



</body>
</html>-->