<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/signup.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/signup.js"></script>
</head>
<body>
<!-- header -->
<div th:insert="fragments/header.html"></div>

<!-- 회원가입 -->
<div class="wrap pseudo_padding">
    <div class="page" id="joinMemberShip">
        <div id="dasi" class="join-title">
            <h3><a href="main">DASi</a></h3>
            <h2>계정 만들기</h2>
        </div>

        <form id="joinForm" action="signup" method="post">
            <script>
                document.addEventListener('keydown', function(event) {
                    if (event.keyCode === 13) {
                        event.preventDefault();
                    };
                }, true);
            </script>
            <div class="items_container ic2 g-gap2" id="joinBigBox">
                <div class="join">
                    <div class="member">
                        <!--아이디 입력-->
                        <div class="join-form-area">
                            <div class="join-form" id="userIdArea">
                                <span class="input-font"><label for="userid">ID*</label></span>
                                <div class="input-group">
                                    <input id="userId" name="userId" type="text" class="input" placeholder="userId" maxlength="16" required/>
                                    <button type="button" class="button button-dark" id="idCheckButton" onClick="checkId()">중복확인</button>
                                </div>
                            </div>
                            <span class="input-caption">(영문 소문자/숫자, 4~16자)</span>
                        </div>
                        <script>
                            $('#userId').change(function () {
                                const userIdVal = $("#userId").val();
                                const userIdValCheck = /^[a-z0-9]{4,16}$/g;

                                if (userIdVal != null && userIdVal.match(userIdValCheck) == null){
                                    alert('아이디는 4글자 이상 16글자 이하의 영문자 또는 숫자로 입력해 주세요.');
                                    $('#userId').focus();
                                    return;

                                } else if(userIdVal != null && userIdVal.match(userIdValCheck)) {

                                }
                            })
                        </script>
                            <script>
                            function checkId(){
                                var userId = $('#userId').val();
                                $.ajax({
                                    url:'./idCheck', //Controller에서 요청 받을 주소
                                    type:'post', //POST 방식으로 전달
                                    data:{userId:userId},
                                    success:function(cnt){ //컨트롤러에서 넘어온 cnt값을 받는다
                                        if (cnt == 0){
                                            alert("사용할 수 있는 아이디입니다.");
                                        } else if (cnt == 1) { // cnt가 1일 경우 -> 이미 존재하는 아이디
                                            alert("누군가 이 아이디를 사용하고 있어요.");
                                            $('#userId').val('');
                                        }
                                    },
                                    error:function(){
                                        alert("에러입니다.");
                                    }
                                });
                            };

                        </script>

                        <!---아이디 입력 끝=-->
                        <!--비밀번호 입력-->
                        <div class="join-form-area">
                            <div class="join-form" id="passwordArea">
                                <span class="input-font"><label for="password">PASSWORD*</label></span>
                                <div class="input-group">
                                    <input id="password" name="password" type="password" class="input" placeholder="비밀번호" minlength="8" maxlength="16" required>

                                </div>
                            </div>
                            <span class="input-caption passwordValidation">비밀번호는 영문, 숫자, 특수문자를 조합하여 8글자 이상으로 입력해 주세요.</span>
                            <div class="join-form pt-2" id="passwordConfirmArea">
                                <span class="input-font"><label for="password">CONFIRM PASSWORD*</label></span>
                                <div class="input-group">
                                    <input id="passwordConfirm" name="passwordConfirm" type="password" class="input" placeholder="비밀번호를 재입력해주세요" minlength="8"  maxlength="16" required>
                                </div>
                            </div>

                            <span class="input-caption passwordConfirmed" style="display: none">비밀번호가 일치합니다.</span>
                            <span class="input-caption passwordRejected" style="display: none">비밀번호가 일치하지 않습니다. 다시 입력해 주세요.</span>
                        </div>
                        <script>
                            $('#password').change(function () {
                                const passwordVal = $("#password").val();
                                const passwordValCheck = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,16}$/

                                 if (passwordVal != null && passwordVal.match(passwordValCheck) == null){
                                    alert('비밀번호는 영문, 숫자, 특수문자를 조합하여 8~16글자로 입력해 주세요.');
                                     $('#password').focus();

                                } else if(passwordVal != null && passwordVal.match(passwordValCheck)) {

                                }
                            })

                            $('#passwordConfirm').change(function () {

                                var password = $("#password").val();
                                var passwordConfirm = $("#passwordConfirm").val();

                                if ( password != '' && passwordConfirm == '' ) {
                                    null;
                                } else if (password != "" || passwordConfirm != "") {
                                    if (password == passwordConfirm) {
                                        $('.passwordRejected').css({'display' : 'none'});
                                        $('.passwordConfirmed').css({'display' : 'inline-block'});
                                        $('.passwordConfirmed').addClass('text-succ');
                                    } else {
                                        $('.passwordConfirmed').css({'display' : 'none'});
                                        $('.passwordRejected').css({'display' : 'inline-block'});
                                        $('.passwordRejected').addClass('text-dg');
                                        $('#passwordConfirm').focus();
                                    }
                                }
                            });
                        </script>
                        <!--비밀번호 입력 끝-->

                        <!--이름 시작-->
                        <div class="join-form-area">
                            <div class="join-form">
                                <span class="input-font"><label for="name">NAME</label></span>
                                <div class="input-group">
                                    <input id="name" name="name" type="text" class="input" placeholder="이름을 입력해주세요." maxlength="15" required>
                                </div>
                            </div>
                        </div>
                        <!--이름 끝-->
                        <!--이메일 입력-->

                        <div class="join-form-area">
                            <form class="join-form" role="form" method="post" th:object="${userDTO}">
                                <span class="input-font"><label for="email">E-mail*</label></span>
                                <div class="input-group mb-1" id="emailArea">
                                    <input id="email" name="email" type="text" class="input" placeholder="@를 포함한 이메일을 입력해주세요." required/>
                                    <button type="button" class="button button-dark" id="checkEmailButton" onclick="checkEmail()">중복확인</button>
                                    <button type="button" class="button button-dark" id="sendEmailCodeButton" onclick="sendEmailCode()" style="display: none">인증번호 발송</button>
                                </div>
                                <div class="input-group" id="emailCodeArea" style="display: none">
                                    <input id="emailCode" name="emailCode" type="text" class="input" placeholder="전송받은 인증번호 6자리를 입력하세요." maxlength="6" required/>
                                    <button type="button" class="button button-dark" id="confirmEmailCodeButton" onclick="confirmEmailCode()">확인</button>
                                </div>
                                <input type="text" id="confirm" name="confirm" value="" style="display: none">
                                <div class="items_container" id="emailConfirmArea">
                                    <button type="button" class="button button-dark mt-1" id="confirmEmailProcessButton" onclick="confirmEmailProcess()" style="display: none">인증 완료하기</button>
                                    <button type="button" class="button button-dark mt-1" id="resetEmailProcessButton" onclick="resetEmailProcess()" style="display: none">다른 이메일 사용</button>
                                </div>

                            </form>
                        </div>
                        <script>
                            $('#email').change(function () {
                                const emailVal = $("#email").val();
                                const emailValCheck = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,16}$/

                                if (emailVal != null && emailVal.match(emailValCheck) == null){
                                    alert('@를 포함한 전체 이메일 주소를 입력해 주세요.');
                                    $('#email').focus();

                                } else if(emailVal != null && emailVal.match(emailValCheck)) {

                                }
                            })
                        </script>
                        <script>
                            function checkEmail(){
                                var email = $('#email').val();
                                $.ajax({
                                    url:'./emailCheck', //Controller에서 요청받을 주소
                                    type:'post', //POST 방식으로 전달
                                    data:{email:email},
                                    success:function(cnt){ //컨트롤러에서 넘어온 cnt값 수신
                                        if (cnt == 0){
                                            alert("사용할 수 있는 이메일 주소입니다.");
                                            $("#checkEmailButton").css({'display' : 'none'});
                                            $("#sendEmailCodeButton").css({'display' : ''});
                                        } else { // cnt == 1 == 이미 존재하는 이메일

                                            alert("이미 사용 중인 이메일 주소입니다.");
                                            $('#email').val('');
                                            $("#checkEmailButton").removeClass('button-light');
                                            $("#checkEmailButton").addClass('button-dark');
                                            $("#sendEmailCodeButton").css({'display' : 'none'});
                                        }
                                    },
                                    error:function(){
                                        alert("에러입니다.");
                                    }
                                });
                            };
                        </script>

                        <!--이메일 입력 끝-->

                        <!--생년월일 및 성별 시작-->
                        <div class="items_container ic2">
                            <div class="join-form-area">
                                <div class="join-form">
                                    <span class="input-font"><label for="birthDate">생년월일</label></span>
                                    <div class="input-group">
                                        <input id="birthDate" name="birthDate" type="date" value="2023-01-01" min="1950-01-01" max="2023-01-01" class="Calendar" required>
                                    </div>
                                </div>
                            </div>
                            <div class="join-form-area" id="enterGender">
                                <div class="join-form">
                                    <span class="input-font"><label for="gender">성별</label></span>
                                    <div class="input-group">
                                        <select name="gender" id="gender" class="select">
                                            <option value="M">남</option>
                                            <option value="F" selected>여</option>
                                        </select>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <!--생년월일 및 성별 끝-->
                        <!--전화번호-->

                        <div class="join-form-area">

                            <div class="join-form">
                                <span class="input-font"><label for="tel">전화번호*</label></span>
                                <div class="input-group">
                                    <input
                                            type="tel"
                                            class="input"
                                            name="tel"
                                            id="tel"
                                            required
                                            pattern="[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}"
                                            maxlength="13"
                                            placeholder="예) 010-1234-5678"
                                    />
                                </div>
                            </div>
                        </div>
                        <script>
                            $('#tel').keyup(function (event) {
                                event = event || window.event;
                                var _val = this.value.trim();
                                this.value = autoHypenTel(_val);
                            });
                            function autoHypenTel(str) {
                                str = str.replace(/[^0-9]/g, '');
                                var tmp = '';

                                if (str.substring(0, 2) == 02) {
                                    // 서울 전화번호일 경우 10자리까지만 나타나고 그 이상의 자리수는 자동삭제
                                    if (str.length < 3) {
                                        return str;
                                    } else if (str.length < 6) {
                                        tmp += str.substr(0, 2);
                                        tmp += '-';
                                        tmp += str.substr(2);
                                        return tmp;
                                    } else if (str.length < 10) {
                                        tmp += str.substr(0, 2);
                                        tmp += '-';
                                        tmp += str.substr(2, 3);
                                        tmp += '-';
                                        tmp += str.substr(5);
                                        return tmp;
                                    } else {
                                        tmp += str.substr(0, 2);
                                        tmp += '-';
                                        tmp += str.substr(2, 4);
                                        tmp += '-';
                                        tmp += str.substr(6, 4);
                                        return tmp;
                                    }
                                } else {
                                    // 핸드폰 및 다른 지역 전화번호 일 경우
                                    if (str.length < 4) {
                                        return str;
                                    } else if (str.length < 7) {
                                        tmp += str.substr(0, 3);
                                        tmp += '-';
                                        tmp += str.substr(3);
                                        return tmp;
                                    } else if (str.length < 11) {
                                        tmp += str.substr(0, 3);
                                        tmp += '-';
                                        tmp += str.substr(3, 3);
                                        tmp += '-';
                                        tmp += str.substr(6);
                                        return tmp;
                                    } else {
                                        tmp += str.substr(0, 3);
                                        tmp += '-';
                                        tmp += str.substr(3, 4);
                                        tmp += '-';
                                        tmp += str.substr(7);
                                        return tmp;
                                    }
                                }

                                return str;
                            }
                        </script>

                        <!--번호 입력 끝-->

                        <div class="join-form-area">
                            <div class="join-form">
                                <span class="input-font"><label for="zipCode">우편번호*</label></span>
                                <div class="input-group">
                                    <input type="text" class="input" id="zipCode" name="zipCode" placeholder="우편번호">
                                    <input type="button" class="button button-dark" onclick="addressFinder()" value="우편번호 찾기"><br>
                                </div>

                            </div>
                        </div>

                        <div class="join-form-area">
                            <div class="join-form">
                                <span class="input-font"><label for="address">도로명주소*</label></span>
                                <div class="input-group">
                                    <input id="address" name="address" type="text" class="input" placeholder="도로명 주소">
                                </div>
                            </div>
                        </div>



                        <div class="join-form-area">
                            <div class="join-form" id="entedRestAddrForm" action="" method="post">
                                <span class="input-font"><label for="addressDetail">상세주소</label></span>
                                <div class="input-group">
                                    <input id="addressDetail" name="addressDetail" type="text" class="input" placeholder="상세주소">
                                </div>
                            </div>
                        </div>

                        <!--주소 입력 끝-->



                    </div>
                </div>
                <!--전체 동의-->
                <div class="agree" id="agreement">





                    <div class="join-form-area">
                        <span class="input-font text-bold">[필수]이용약관 동의</span>
                        <div class="check_policy">
                            <div th:insert="/fragments/policy2.html"></div>
                        </div>
                        <span class="input-font">이용약관에 동의하십니까?</span>
                        <form action="" name="termsOfUseAgree" method="" id="termsOfUseAgree">
                            <input type="radio" name="checkTou" id="agreeTou" value="agree">동의함
                            <input type="radio" name="checkTou" id="disagreeTou" value="disagree">동의하지 않음
                        </form>
                    </div>

                    <div class="join-form-area">
                        <span class="input-font text-bold">[필수]개인정보처리방침 동의</span>

                        <div class="check_policy" id="privacyPolicy">
                            <div th:insert="/fragments/policy3.html"></div>
                        </div>
                        <span class="input-font">이용약관에 동의합니다.</span>
                        <form action="" name="privacyPolicyAgree" method="" id="privacyPolicyAgree">
                            <input type="radio" name="checkPp" id="agreePp" value="agree">동의함
                            <input type="radio" name="checkPp" id="disagreePp" value="disagree">동의하지 않음
                        </form>


                    </div>
                    <!--개인정보처리방침 동의 끝 나는 div-->
                    <button type="submit" class="button button-dark w-100" id="signupButton" onclick="signupValidationCheck()">회원가입</button>
                </div> <!--agree 끝나는 div 부분 -->

                <!--전체 동의 끝나는 부분-->
            </div>

        </form>
        <!-- form 전체 묶음-->

        <!--전체 묶음 종료-->
    </div>
</div>



<div th:insert="fragments/footer.html"></div>
<script src="/js/header.js"></script>
<script src="/js/carousel.js"></script>
<script src="/js/default.js"></script>



</body>
</html>-->