<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>questioncreate</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/faq.css">
    <link rel="stylesheet" href="/css/carousel.css">
    <link rel="stylesheet" href="/css/header.css">

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    <style>
        textarea {
            resize: none;
            width: 100%;
        }
    </style>


</head>
<body>
<div th:insert="fragments/header.html"></div>

<!--페이지 시작-->

<div class="wrap">
    <div class="page pseudo_padding-2">

        <h1>1:1문의 수정</h1>
        <form id="faqUpdate" th:action="@{/content/question/questionRealUpdate/{questNum}}" method="post">
            <!--폼태그 안의 것들은 매퍼에 쿼리문작성할 때 안넣을거여도 들고는 가기 때문에 자료형 반드시 맞춰야한다!-->
            <input class="input" type="text" th:value="${#authentication.getPrincipal().userId}" style="width: auto" readonly>&nbsp;님의 문의 수정 화면입니다.
            <input type="hidden" name="questNum" th:value="${ userquestion.questNum }">
            <!--히든 이거 안써도 저절로 알 줄 알았는데 히든이어도무시하지 말고 무조건 써야한다-->

            <hr>

            <table>
                <tr>
                    <td>문의유형</td>
                    <td>
                        <select class="select w-100" id="qCateCode" name="qCate" style="width: 30%;">
                            <option value="1">주문제작</option>
                            <option value="2">결제 및 배송</option>
                        </select>
                    </td>
                    <td>제목</td>
                    <td><input class="input w-100" type="text" name="questTitle" id="questTitle"
                                           th:value="${ userquestion.questTitle }" style="width: 70%"></td>
                </tr>
                <tr>
                    <td>문의내용</td>
                    <td colspan="3">
                        <textarea class="textarea" name="questContent" th:text="${ userquestion.questContent }" cols="60" rows="15"
                                  style="resize:none;"></textarea>
                    </td>
                </tr>
            </table>
            <hr>
            <div class="items_container" style="display: flex;">
                <div class="item" style="width: 100%;">
                    <button type="button" class="button button-light"
                            th:onclick="'location.href=\'/content/question/question\''" style="width: 100%;">취소
                    </button>
                </div>
                <div class="item" style="width: 100%;">
                    <button type="submit" class="button button-light" style="width: 100%;">수정 완료</button>
                </div>
            </div>

        </form>


    </div>
</div>


<div th:insert="fragments/footer.html"></div>


<script>
    $("#qCateCode options:selected").val()    /*선택되면, 거기에 해당되는 밸류를 넘겨라. 그래서 #{ qcategory : 주문제작 } 이렇게 쿼리문에서 꺼내쓸 수 있다. QCATEGORY라는 컬럼이 있다. 여기서 name=  으로 지정한거랑, dto에서의 QCATEGORY 컬럼을 변수로 지정한 그거랑 똑같아야함. 찾아들어가야하니까*/
</script>

<script src="js/header.js"></script>
<script src="js/carousel.js"></script>
<script src="js/default.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>


</body>
</html>