/* 배경 화면 설정 */
body {
    background: url(../images/city1.PNG) no-repeat;
    background-size:cover;
    min-height:800px;
    background-color:black;
}

/* 타이틀 및 로그인영역 너비 설정 */
.header {
    min-width:800px;
    display: flex;
    flex-direction: column;
}

.login-area{
    display: flex;
    justify-content: flex-end;
}

.login-info{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}

.title-auth{
    display: flex;
    flex-direction: column;
}

.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.error-container h1{
    text-align: center;
}

.btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* 버튼 공통 설정 */
.btn {
    border-radius:10px;
    width:100px;
    height:25px;
    cursor:pointer;
    border:0px;
    color:white;
}

/* 핑크색 버튼 */
.btn-pk {
    background:pink;
}

/* 연두색 버튼 */
.btn-yg {
    background:yellowgreen;
}

/* 오렌지레드색 버튼  */
.btn-or {
    background:orangered;
}

/* 하늘색 버튼 */
.btn-bs {
    background:skyblue;
}

.btn-danger {
    background:orange;
}

/* 메뉴바 영역 div 설정 */
.menu-area {
    background:black;
    width:100%;
    min-width:800px;
    height:50px;
    text-align:center;
    display: flex;
    justify-content: space-evenly;
}

/* 메뉴의 ul태그 설정(기본 padding-left 40px 적용되어있음 */
.nav-area ul {
    list-style:none;
    width:100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

/* 메뉴  li 태그 영역 설정 */
.nav-area li {
    float:left;
    padding-left:20px;
    padding-right:20px;
}

/* li 태그 내의 a태그 설정 */
.nav-area li a {
    text-decoration:none;
    display:table-cell;
    vertical-align:middle;
    width:150px;
    height:50px;
    color:white;
}

/* 메뉴바에 마우스 올렸을 때 설정 */
.nav-area li a:hover {
    background:orangered;
}

/* 공통 아우터 영역 설정 */
.outer {
    background:black;
    color:white;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
}

/* 회원 가입 아우터 영역 추가 설정 */
.outer-member-insert {
    width:600px;
    height:500px;
}

/* 공지사항 및 게시판 관련 크기 설정 */
.outer-notice-detail,
.outer-board-insert,
.outer-board-detail {
    width:800px;
    height:auto;
}

/* 회원 가입 양식 글꼴 중앙 배치 */
.outer-member-insert td {
    text-align:right;
}

/* 공지사항 리스트 크기 지정 */
.outer-notice-list {
    width:800px;
    height:500px;
}

/* 게시판 리스트 크기 지정 */
.outer-board-list {
    width:900px;
    height:500px;
}

/* 썸네일 작성 크기 지정  */
.outer-thumbnail-insert {
    width:1000px;
    height:650px;
}

/* 썸네일 리스트 크기 지정 */
.outer-thumbnail-list {
    width:1000px;
    height:700px;
}

/* 썸네일 상세보기 크기 지정 */
.outer-thumbnail-detail {
    width:1000px;
    height:700px;
}

/* 공지사항 리스트 테이블 설정 */
.outer-notice-list table,
.outer-thumbnail-insert table,
.outer-thumbnail-detail table,
.outer-thumbnail-detail td {
    border:1px solid white;
    text-align:center;
}

/* 모든 테이블 중앙 배치할 수 있는 설정 */
.table-area {
    margin-left:auto;
    margin-right:auto;
}

/* 공지사항, 테이블 영역 크기 지정 */
.outer-notice-list .table-area,
.outer-notice-detail .table-area,
.outer-board-list .table-area,
.outer-board-insert .table-area,
.outer-board-detail .table-area {
    width:650px;
    height:350px;
}

/* 공지사항, 게시판 관련 테이블 테두리 지정 */
.outer-notice-list table,
.outer-notice-detail table,
.outer-board-list table {
    border:1px solid white;
    text-align:center;
}

/* 공지사항 상세보기 테이블 사이즈 조정 */
.outer-notice-detail table,
.outer-board-insert table,
.outer-board-detail table {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

/* 검색 영역 크기 지정 */
.search-area {
    width:650px;
    margin-left:auto;
    margin-right:auto;
}

/* 공지사항 작성 영역 크기 지정 */
.outer-notice-insert,
.outer-notice-detail,
.outer-notice-update {
    width:800px;
    height:500px;
}

/* 공지사항 작성 영역 테이블 테두리 지정 */
.outer-notice-insert table,
.outer-notice-detail table,
.outer-notice-update table,
.outer-board-insert table,
.outer-board-detail table {
    border:1px solid white;
}

/* 공지사항 작성 영역 테이블 영역 크기 지정 */
.outer-notice-insert .table-area,
.outer-notice-detail .table-area,
.outer-notice-update .table-area,
.outer-board-insert .table-area,
.outer-board-detail .table-area {
    width:450px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
}

/* 게시판 댓글 테이블 스타일 지정 */
#replyResult {
    table-layout: fixed

}
#replyResult tr td:nth-child(2) {
    width:240px;
}
#replyResult tr td:nth-child(3) {
    text-align:center;
    width:70px;
}
#replyResult tr td:nth-child(4) {
    text-align:center;
    width:100px;
}
#replyResult tr td:nth-child(5) {
    text-align:center;
    width:70px;
}

/* 썸네일 영역 스타일 지정 */
.thumbnail-area {
    width:760px;
    height:550px;
    margin-left:auto;
    margin-right:auto;
}

/* 썸네일 목록 스타일 지정 */
.thumb-list {
    width:220px;
    border:1px solid white;
    display:inline-block;
    margin:10px;
    align:center;
}

/* 썸네일 리스트에 마우스 올렸을 때 지정 */
.thumb-list:hover {
    opacity:0.8;
    cursor:pointer;
}

/* 썸네일 작성 영역 스타일 지정 */
.title-img-area {
    width:350px;
    height:200px;
    border:2px dashed darkgray;
    text-align:center;
    display:table-cell;
    vertical-align:middle;
}

/* 썸네일 이미지 관련 마우스 올렸을 때 설정 */
.title-img-area:hover, .content-img-area1:hover,
.content-img-area2:hover, .content-img-area3:hover {
    cursor:pointer;
}

/* 이미지 영역 설정 */
.content-img-area1, .content-img-area2, .content-img-area3 {
    width:150px;
    height:100px;
    border:2px dashed darkgray;
    text-align:center;
    display:table-cell;
    vertical-align:middle;
}

/* 썸네일 작성 영역 설정 */
.thumbnail-insert-area {
    width:500px;
    height:450px;
    margin-left:auto;
    margin-right:auto;
}

.thumbnail-btn-area {
    width:150px;
    margin-left:auto;
    margin-right:auto;
}

.thumbnail-file-area input[type=file] {
    display:none;
}
