.button-light{
    width: flex!important;
    height: 70px;
    margin: 10px 10px;
}

.button-light:hover {
    background-color: var(--color-black)!important;
    border: solid 1px var(--color-dark)!important;
    color: white!important;
  }
  .selecttitle{
    display: flex;
    padding-top: 40px;
 
    justify-content: center;
    align-items: center;
  }

  .button class {
    padding: 0 0 0 30px;
  }

  h3 {
    font-size: small;
    margin-right: 30px;
  }
.select {
    width: 40%;
}



  