#table_tr{ height: 10%;}
#table_td{ border: 1px solid #000;}
.orderCol {
            background-color: #E6E6E6;
            border: 1px solid #000;
            text-align: center;
        }

 #rejectText {
          width: 100%;
          height: 100vh;
            resize: none;
          }