<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>DASi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/default.css">
  <link rel="stylesheet" href="/css/header.css">
</head>
<body>

<!-- header -->
<div th:insert="/fragments/header.html"></div>



<!-- pages -->
<div class="wrap">
  <div class="page pseudo_padding-2">
    <div class="items_container ic1">
      <div class="item">

        <div class="item-thumb portfolio-thumb">
          <img src="/img/sub/product/product2/dt1.jpg" title="상품1" alt="상품1 설명">
        </div>

      </div>
      <div class="item">

        <h1>반려견을 위한<br>감각적인 후드 점퍼와 모자</h1>
        트레이닝복 원단을 업사이클링하여 반려견을 위한 옷으로 재탄생시켰습니다.<br>
        <hr>

      </div>
    </div>
    <div class="items_container ic1 g-gap2 pt-1 pb-3">
      <div class="item">
        <div class="item-thumb portfolio-thumb">
          <img src="/img/sub/product/product2/dt2.jpg" title="" alt=""/>
        </div>
      </div>

    </div>

    <hr>

    <div th:insert="/fragments/productOption.html"></div>

  </div>

</div>







<div th:insert="/fragments/footer.html"></div>
<script src="js/header.js"></script>
<script src="js/carousel.js"></script>
<script src="js/default.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
</body>
</html>











