<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>managerQuestion</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/carousel.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/managerQuestion.css">

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>




</head>
<body>

<div th:insert="/common/adminHeader.html"></div>



<!--pages-->
<br>
<br>
<div class="pages">
<h1>관리자1:1조회페이지</h1>
<br>
<div class="button class">
    <button class="button button-light" onClick="">1:1 문의 관리</button>
    <button class="button button-dark" onClick="location.href='managerFaQ.html'">FAQ 관리</button>
</div>

<div class="calendar">
<input type="date" id="date">
<span> - </span>
<input type="date" id="date1">
</div>
<button class="button button-dark">기간별 조회</button>


<!--<div class="calendar">-->
<!--    <label for="date">-->
<!--        <input type="date"-->
<!--               id="dateFrom"-->
<!--               max="2023-09-06"-->
<!--               min="2000-08-06"-->
<!--               value="2023-08-06">-->
<!--    </label>-->
<!--<span> - </span>-->
<!--<label for="date">-->
<!--    <input type="date"-->
<!--           id="date"-->
<!--           max="2023-09-06"-->
<!--           min="2000-09-06"-->
<!--           value="2023-09-06">-->
<!--</label></div><br>-->




<table class="ttable">
<thead>
   <tr>
        <th class="status" width="70px">답변상태</th>
       <th class="questionnumber" width="10px">문의번호</th>
       <th class= "classify" width="3px">구분</th>
       <th class="txt" width="1100">제목</th>
        <th class="writer" width="90">작성자</th>
        <th class="update" width="90">작성날짜</th>
        <th class="updatemake" width="20">답변등록</th>
   </tr>
</thead>
<tbody>
    <tr>
        <td class="status" width="50">답변대기</th>
        <td class="questionnumber" width="20">2023083102</th>
        <td class= "classify" width="600">상품관련</th>
        <td class="txt" width="100">이미 결제를 했는데 결제 방식을 바꾸고 싶습니다.</th>
         <td class="writer" width="100">baksc01</th>
         <td class="update" width="100">2023.08.31</th>
         <td class="updatemake" width="100">
            <a href="javascript:void(0)" onClick="javascript:goPost()"> <i class="fa-solid fa-caret-down"></i></a>
         </td>
    </tr>
  
    <tr>
        <td class="status" width="30">답변완료</th>
        <td class="questionnumber" width="70">2023083101</th>
        <td class= "classify" width="600">상품관련</th>
        <td class="txt" width="100">주문제작 대량으로도 가능한가요???</th>
         <td class="writer" width="100">sdfkn23</th>
         <td class="update" width="100">2023.08.31</th>
         <td class="updatemake" width="100">
            <a href="javascript:void(0)" onClick="javascript:goPost()"> <i class="fa-solid fa-caret-down"></i></a>
         </td>
    </tr>
</tbody>
    </table>

<div class="pagging-wrap page-area">
    <div class="page-number">
        <div class="pagination mt20">
            <a href="javascript:CmPageMove('0')" data-page="0" class='btn-page prev'><span class="blind">이전</span></a>
            <a href="#" class="current"><span>1</span></a>
            <a href="javascript:CmPageMove('2')" data-page="2" ><span>2</span></a>
            <a href="javascript:CmPageMove('3')" data-page="3" ><span>3</span></a>
            <a href="javascript:CmPageMove('3')" data-page="3" class='btn-page next'><span class="blind">다음</span></a>
        </div>
    </div>


</div>
   </tbody>









<script>
    $('#date', '#date1').datepicker({dateFormat: 'yy-mm-dd});
</script>

<script>
    function goPost(){
    let f = document.createElement('form');
    f.setAttribute('method', 'post');
    f.setAttribute('action', 'managerQuestionCreate.html');
    document.body.appendChild(f);
    f.submit();
}
</script>


</body>



<div th:insert="common/footer.html"></div>

<script src="js/header.js"></script>
<script src="js/carousel.js"></script>
<script src="js/default.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>



</html>



