<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>managerQuestionCreate</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/carousel.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>


</head>
<body>
<div th:insert="/common/adminHeader.html"></div>


<!--pages-->



<br/>
<div class="button class">
    <button class="button button-light" onClick="">1:1 문의 관리</button>
    <button class="button button-dark" onClick="">FAQ 관리</button>
</div>

<ul>
    <li>
        <div class="subject">
            <span class="status">답변상태</span>
            <span class="questionnumber">문의번호</span>
            <span class="classify">구분</span>
            <span  class="txt">제목</span>
            <span class="writer">작성자</span>
            <span  class="update">작성날짜</span>
            <span  class="updatemake">답변등록</span>
        </div>
    </li>


    <!-- 내용물1 -->

    <li class="" id="li_2023083102">
        <div class="question">
            <span class="state-done">답변대기</span>
            <span class="questionnumber">2023083102</span>
            <span class="classify">상품관련</span>
            <span class="txt">이미 결제를 했는데 결제 방식을 바꾸고 싶습니다.</span>
            <span class="questionid">baksc01</span>
            <span  class="update">2023.08.31</span>
        </div>
    </li>

    <hr>

    <li class="answer">

        <div class="titlediv">
        <span class="title">글제목</span>
      <div class="item bg-light p-1"><span class="bringcontent1">
        이미 결제를 했는데 결제 방식을 바꾸고 싶습니다.
      </span>
    <!--여기 부분, 1:1문의 제목 값을 js(내가 사진찍어둔 사진에 있음)를 통해 불러와야함-->

        </div>
        <div class="contentdiv">
            <span class="content">문의내용</span>
            <div class="item bg-light p-1"><span class="bringcontent2">이미 결제했는데 다른 카드로 결제하고 싶어요. 어떻게 하면 되나요?</span></div>
        </div>

      <div class="picturediv">
          <span class="picture">사진</span>
          <div class="item bg-light p-1"><span class="bringcontent3">등록된사진가져오기</span></div>
      </div>

     <div class="responsediv">
       <span class="response">답변내용</span>
        <div class="item bg-light p-1">  <input class="input input-lg"/></div>
    </div>
    </li>

</ul>

 <hr>

            <button type="button" onclick="alert('등록하시겠습니까?')">등록</button>
            <button type="button" onclick="alert('등록되었습니다')">등록</button>


            <button type="button" onclick="alert('취소되었습니다')">취소</button>
            <div class="btn-bottom-area">
                <button type="button" class="button button-dark" onclick="goSave();"><span>등록</span></button>
                <button type="button" class="button button-light" onclick="javascript:history.back();"><span>취소</span></button>
            </div>








</body>



<!-- footer -->

<div th:insert="common/footer.html"></div>
<script src="js/header.js"></script>
<script src="js/carousel.js"></script>
<script src="js/default.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>


</html>


