
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>managerFaQ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/carousel.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/managerFaQ.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
</head>
<body>
<div th:insert="/common/adminHeader.html"></div>


<!--pages-->
<div class="pages">

<div class="button class">
    <button class="button button-light" onClick="location.href='managerQuestion.html'">1:1 문의 관리</button>
    <button class="button button-dark" >FAQ 관리</button>
</div>
<div class="selecttitle">
    <h3 class="selecttitle1">구분</h3>
    <select class="select">
        <option class="option" selected>전체</option>
        <option class="option" value='' onclick="">주문제작</option>
        <option class="option" value='' onclick="">결제 및 배송</option>
        <option class="option" value='' onclick="">기타</option>
    </select>
</div>

<br> <br>



<table class="managerFaQ">





      <table class="list-table">
      <thead>
          <tr>
              <th style="width: 50px">구분</th>
              <th style="width: 30px">글번호</th>
                <th style="width: 150px">제목</th>
                <th style="width: 70px">수정 및 삭제</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="faq : ${ faqList }">
              <td th:text="${faq.}" style="width: 50px">기타</td> <!--이거다른테이블인데어캄?-->
              <td th:text="${ faq.faqNum }"  style="width: 30px">1</td>
              <td th:text=" ${faq.faqTitle}" style="width: 150px">고객센터 운영 시간이 어떻게 되나요?</td>
              <td style="width: 70px">
              <button onclick="location.href='managerFaQupdate.html'" width="10" height="5">수정</button>
              <button onclick="javascript:alert('삭제되었습니다')" width="10" height="5">삭제</button>
            </td>
             <tr>
                <td style="width: 50px">주문제작</td>
                <td th:text="${ faq.faqNum }" style="width: 30px">2</td>
                <td th:text="${ faq.faqTitle }" style="width: 150px">주문제작 현황 문의는 어떻게 작성하나요?</td>
                <td style="width: 70px">
                <button onclick="location.href='managerFaQupdate.html'" width="10" height="5">수정</button>
                <button onclick="javascript:alert('삭제되었습니다')" width="10" height="5">삭제</button>
              </td>
              </tr>







              <tr>
                <td style="width: 50px">결제 및 배송</td>
                <td style="width: 30px">3</td>
                <td style="width: 150px">상품이 주문한 것과 다르게 배송되었습니다.</td>
                <td style="width: 70px">
                <button onclick="location.href='managerFaQupdate.html'" width="10" height="5">수정</button>
                <button onclick="javascript:alert('삭제되었습니다')" width="10" height="5">삭제</button>
              </td>
              </tr>
              <tr>
                <td style="width: 50px">결제 및 배송</td>
                <td style="width: 30px">4</td>
                <td style="width: 150px">이미 결제를 했는데 결제 방식을 바꾸고 싶어요</td>
                <td style="width: 70px">
                <button onclick="location.href='managerFaQupdate.html'" width="10" height="5">수정</button>
                <button onclick="javascript:alert('삭제되었습니다')" width="10" height="5">삭제</button>
              </td>
              </tr>
          </tbody>
          </table>






        <!-- <?php
        // board테이블에서 idx를 기준으로 내림차순해서 5개까지 표시
          $sql = mq("select * from board order by hit desc limit 0,3");
            while($board = $sql->fetch_array())
            {
              //title변수에 DB에서 가져온 title을 선택
              $title=$board["title"];
              if(strlen($title)>30)
              {
                //title이 30을 넘어서면 ...표시
                $title=str_replace($board["title"],mb_substr($board["title"],0,30,"utf-8")."...",$board["title"]);
              }
        ?> -->
      <!-- <tbody>
        <tr>
          <td width="70"><?php echo $board['idx']; ?></td>
          <td width="500"><a href="read.php?board_id=board&idx=<?php echo $board["idx"];?>"><?php echo $title;?></a></td>
          <td width="120"><?php echo $board['name']?></td>
          <td width="100"><?php echo $board['date']?></td>
        </tr>
      </tbody>
      <?php } ?>
    </table> -->
 
    
    

<button class="button button-dark" onclick="location.href='managerFaQcreate.html'">FAQ 추가등록</button>



</div>

<!-- footer -->

<div th:insert="common/footer.html"></div>

<script src="js/header.js"></script>
<script src="js/carousel.js"></script>
<script src="js/default.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>

</div>
</body>
</html>



