<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>DASi ADMIN</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/carousel.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/admin.css">

    </head>
    <body>
    <div th:insert="/fragments/adminHeader.html"></div>

      <br>
      <div class="page">
        <h1> 주문 내역 관리</h1>
        <hr>
        
        <div class="items_container ic1">
            <div class="item">
                <table id="listArea">
                    <thead>
                        <tr>
                            <th>주문 ID</th>
                            <th>주문 날짜</th>
                            <th>회원 ID</th>
                            <th>결제 여부</th>
                            <th>상품 상태</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="order : ${orderList}">
                            <td th:text="${order.orderId}"></td>
                            <td th:text="${order.orderDate}"></td>
                            <td th:text="${order.userCode.userId}"></td>
                            <td><th:block th:if="${order.payNum == '' or order.payNum == null}"> <i class="fa fa-remove"></i></th:block>
                                <th:block th:if="${order.payNum != '' and order.payNum != null}"> <i class="fa fa-check"></i></th:block></td>
                            <td><button class="button button-dark"><strong th:text="${order.statusNum.status}"></strong></button></td>
                          </tr>
                    </tbody>
                  </table>
            </div>
    
        </div>
        
            
      </div>

    <script th:inline="javascript">

        if (document.querySelectorAll("#listArea td")) {
            const $tds = document.querySelectorAll("#listArea td");
            for (let i = 0; i < $tds.length; i++) {

                $tds[i].onclick = function() {
                    const orderId = this.parentNode.children[0].innerText;
                    location.href = "/admin/order/adminOrderDetail?orderId=" + orderId;
                }
            }
        }
    </script>

    <div th:insert="/fragments/footer.html"></div>
      <script src="/js/header.js"></script>
      <script src="/js/carousel.js"></script>
      <script src="/js/default.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </body>
    </html>