<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DASi</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/carousel.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/mypageProfil.css">
</head>

<body>

<div th:insert="/fragments/header.html"></div>
<div class="wrap">
    <div class="page pseudo_padding-2">
        <!--<div th:include="/fragments/mypageCategory"></div>-->

        <h1> 나의 주문 내역</h1>
        <hr>

        <div class="items_container ic1">
            <div class="item">
                <table id="listArea">
                    <thead>
                    <tr>
                        <th>주문 ID</th>
                        <th>주문 날짜</th>
                        <th>상품 상태</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${orderList}">
                        <td th:text="${order.orderId}"></td>
                        <td th:text="${order.orderDate}"></td>
                        <td>
                            <button class="button button-dark"><strong th:text="${order.statusNum.status}"></strong>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


    <div th:insert="/fragments/footer.html"></div>



    <script th:inline="javascript">

        if (document.querySelectorAll("#listArea td")) {
            const $tds = document.querySelectorAll("#listArea td");
            for (let i = 0; i < $tds.length; i++) {

                $tds[i].onclick = function () {
                    const orderId = this.parentNode.children[0].innerText;
                    location.href = "/content/mypage/myOrderDetail?orderId=" + orderId;
                }
            }
        }
    </script>
 </body>
</html>