<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DASi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>


    <script>
        function requestPay() {
            var IMP = window.IMP;
            IMP.init('imp28746505');

            IMP.request_pay({
                pg: 'kakaopay',
                pay_method: 'card',
                merchant_uid: "[[${order.orderId}]]",
                name: "[[${order.userCode.name}]]의 주문결제",
                amount: "[[${order.orderPrice}]]",
                buyer_name: "[[${order.userCode.name}]]",
                buyer_tel: "[[${order.userCode.tel}]]",
                buyer_email: "[[${order.userCode.email}]]",
                buyer_addr: "[[${order.userCode.zipCode}]]",
                buyer_postcode: "[[${order.userCode.zipCode}]]"
            }, function (rsp) {
                if (rsp.success) {
                    var msg = '결제가 완료되었습니다.';
                    console.log("결제 성공 ");

                    // 결제 정보를 서버로 전송하여 저장
                    var paymentData = {
                        pg: 'kakaopay', // 사용한 PG사
                        payMethod: 'card', // 결제 수단 (카드 결제)
                        buyerEmail: "[[${order.userCode.email}]]",
                        buyerName: "[[${order.userCode.name}]]",
                        buyerTel: "[[${order.userCode.tel}]]",
                        buyerAddr: "[[${order.userCode.zipCode}]]",
                        buyerPostcode: "[[${order.userCode.zipCode}]]",
                        amount: "[[${order.orderPrice}]]", // 결제 금액
                        imp_uid: rsp.imp_uid, // 아임포트 고유 번호
                        merchant_uid: rsp.merchant_uid // 주문번호 (merchant_uid)

                    };
                    console.log(paymentData)
                    alert(msg);

                    savePaymentInfo(paymentData);
                } else {
                    var msg = '결제에 실패하였습니다. ';
                    msg += '에러내용 : ' + rsp.error_msg;
                    alert(msg);
                }
            });
        }

        function savePaymentInfo(paymentData) {
            // 결제 정보를 서버로 전송하는 AJAX 요청
            $.ajax({
                type: "POST", // POST 요청
                url: '/api/v1/payment/record', // 컨트롤러 엔드포인트 URL
                contentType: 'application/json',
                data: JSON.stringify(paymentData), // 데이터를 JSON 문자열로 변환하여 전송
                success: function (data) {
                    // 서버에서 응답을 받으면 실행됨
                    console.log('결제 정보 저장 성공:', data);

                    // 결제 성공 후 추가 작업 수행
                    location.replace('/content/mypage/myOrderDetail');
                },
                error: function (xhr, textStatus, errorThrown) {
                    // 에러 발생 시 실행됨
                    console.error('결제 정보 저장 실패:', textStatus, errorThrown);
                }
            });
        }
    </script>



    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/carousel.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/addmin.css">
    <link rel="stylesheet" href="/css/order.css">

    <style>
        td {
            border: 1px solid #000000;
        }

        textarea {
            resize: none;
        }
    </style>


</head>
<body>
<div th:insert="/fragments/header.html"></div>

<br>
<div class="page">
    <h1> 나의 주문 상세 내역</h1>

    <hr>
    <h5 style="margin-bottom: 5px;">요청 이미지</h5>
    <table class="detail">
        <tr>
            <th:block th:if="${ order.orderFileList.size() >= 2 }">
                <td width="330px">
                    <th:block th:if="${ order.orderFileList.size() >= 1 }">
                        <img id="detailImg1" class="detailImg" width="250" height="180"
                             th:src="@{|/original${order.orderFileList[1].getUploadPath()}|}"/><br>
                    </th:block>
                    <th:block th:text="${order.orderFileList.size()}"/>
                </td>
                <!-- <td width="330px">
                     <div class="detailImgArea">
                         <th:block th:if="${ order.orderFileList.size() >= 2 }">
                             <img id="detailImg2" class="detailImg" width="250" height="180" th:src="@{|/original${order.orderFileList[2].getUploadPath()}|}"/><br>
                         </th:block>
                     </div>
                 </td>
                 <td width="330px">
                     <div class="detailImgArea">
                         <th:block th:if="${ order.orderFileList.size() >= 3 }">
                             <img id="detailImg3" class="detailImg" width="250" height="180" th:src="@{|/original${order.orderFileList[3].getUploadPath()}|}"/><br>
                         </th:block>
                     </div>
                 </td>-->
            </th:block>
        </tr>
    </table>

    <h5 style="margin-bottom: 5px;">주문 정보</h5>
    <table>
        <tr>
            <th class="orderCol" style="text-align: center;">주문 일자</th>
            <td th:text="${order.orderDate}"></td>
            <th class="orderCol" style="text-align: center;">주문 ID</th>
            <td th:text="${order.orderId}"></td>
            <th class="orderCol" style="text-align: center;">회원 ID</th>
            <td th:text="${order.userCode.userId}"></td>
            <th class="orderCol" style="text-align: center;">회원 이름</th>
            <td th:text="${order.userCode.name}"></td>
        </tr>
    </table>

    <h5 style="margin-bottom: 5px;">요청 정보</h5>
    <table>
        <tr>
            <th class="orderCol" style="text-align: center;">사이즈 정보</th>
            <td class="#table_td" th:text="${order.sizeInfo}"></td>
            <th class="orderCol" style="text-align: center;">요청 사항</th>
            <td class="#table_td" th:text="${order.reqIssues}"></td>
        </tr>
    </table>


    <h5 style="margin-bottom: 5px;">결제 정보</h5>
    <th:block th:if="${order.orderPrice} > 0">
        <button class="button button-lg button-dark" style="width: 100%;" onclick="requestPay()">결제 하기</button>
    </th:block>
    <table>
        <tr>
            <th class="orderCol" style="text-align: center;">상품 가격</th>
            <td id="orderPrice" name="orderPrice" th:value="${order.orderPrice}" th:text="${order.orderPrice}"></td>
            <th class="orderCol" style="text-align: center;">결제 번호</th>
            <td th:text="${order.payNum}"></td>
            <th class="orderCol" style="text-align: center;">결제일</th>
            <!--<td th:text="${}"></td>-->
            <td>-</td>
            <th class="orderCol" style="text-align: center;">결제 시간</th>
            <!--<td th:text="${}"></td>-->
            <td>-</td>
            <th class="orderCol" style="text-align: center;">결제 금액</th>
            <!--<td th:text="${}"></td>-->
            <td>-</td>
            <th class="orderCol" style="text-align: center;">결제 수단</th>
            <!--<td th:text="${}"></td>-->
            <td>-</td>
        </tr>
    </table>

    <th:block th:if="${order.statusNum.status} == '제작 승인' or ${order.statusNum.status} == '결제 완료' or ${order.statusNum.status} == '제작 중' or ${order.statusNum.status} == '제작 완료' or ${order.statusNum.status} == '배송 중' or ${order.statusNum.status} == '배송 완료'">
        <div class="items_container" style="display: flex; align-items: center;">
            <div class="item"><h5 style="margin-bottom: 5px;">배송 정보</h5></div>
        </div>
            <table>
                <tr>
                    <th class="orderCol" style="text-align: center;">수령인</th>
                    <th>
                    <input name="receiver" type="text"></th>
                    <th class="orderCol" style="text-align: center;">전화번호</th>
                    <th><input name="recePhone" type="text"></th>

                    <th class="orderCol">우편번호</th>
                    <div class="input-group">
                        <input type="text" class="input" id="zipCode" name="zipCode" placeholder="우편번호">
                        <input type="button" class="button button-dark" onclick="addressFinder()" value="우편번호 찾기"><br>
                    </div>


                    <th class="input-font">도로명 주소</th>
                    <div class="input-group">
                        <input id="address" name="address" type="text" class="input" placeholder="도로명 주소">
                    </div>


                    <th class="input-font">상세주소</th>
                    <div class="input-group">
                        <input id="addressDetail" name="addressDetail" type="text" class="input" placeholder="상세주소">
                    </div>
                </tr>
                <!--<th:block th:if="${order.} != null">-->
                <tr>
                    <th class="orderCol" style="text-align: center;">배송 일자</th>
                    <!--<td th:text="${}"></td>-->
                    <td>-</td>
                    <th class="orderCol" style="text-align: center;">송장번호</th>
                    <!--<td th:text="${}"></td>-->
                    <td colspan="3">-</td>
                </tr>
                <!--</th:block>-->
            </table>
    </th:block>
    <div>
        <h5 style="margin-bottom: 5px;">진행 사항 : </h5>
        <button class="button button-lg button-dark" th:text="${order.statusNum.status}"/>
    </div>

    <th:block th:if="${order.statusNum.status} == '제작 반려' or ${order.statusNum.status} == '주문취소'">

        <div class="item"><h5 style="margin-bottom: 5px;">취소 사유</h5></div>

        <textarea name="cancelContent" th:text="${order.cancelContent}" style="width: 100%; height: 10vh;"
                  th:readonly="${order.cancelContent} != null"></textarea>
    </th:block>

    <div class="items_container" style="display: flex;">
        <div class="item" style="width: 100%;">
            <button class="button button-lg button-light" style="width: 100%;" onclick="goBack()">
                뒤로 가기
            </button>
        </div>
        <th:block th:if="${order.statusNum.status} == '제작 요청' or ${order.statusNum.status} == '제작 승인' or ${order.statusNum.status} == '결제 완료'">
        <div class="item" style="width: 100%;">
            <button class="button button-lg button-dark" type="submit" style="width: 100%;">주문 취소</button>
        </div>
        </th:block>
    </div>
</div>

<div th:insert="/fragments/footer.html"></div>
<script src="/js/header.js"></script>
<script src="/js/default.js"></script>
<script src="/js/buttionController.js"></script>

</body>
</html>