<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/carousel.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/memberForms.css">
</head>
<body>
<div th:insert="fragments/header.html"></div>

<div class="wrap">
    <div class="page pseudo_padding-2">

        <div class="item-container ic1">
            <div class="member-title text-c">
                <h3>
                    <a th:href="@{/}" class="brand-lg">DASi</a>
                </h3>
                <h5>마이페이지</h5>
            </div>

        </div>
    </div>
</div>

<div th:insert="fragments/footer.html"></div>
<script src="js/header.js"></script>
<script src="js/carousel.js"></script>
<script src="js/default.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>
</html>